       
/* ------------------------------------------------ */
/* ==                 CAROUSEL                      */
/* ------------------------------------------------ */

/** base carousel **/

.carousel ul 
    position : absolute
    overflow : hidden
    margin : 0!important
    padding : 0
    list-style : none!important

.no-js .carousel ul 
    position : static

.carousel .mask 
    position : relative
    overflow : hidden

.field-name-body .carousel ul li 
    list-style : none


.carousel ul li 
    float : left
    width : 200px
    height : 150px
    color : #fff
    font-size : 8em
    text-align : center
    margin : 5px  !important

.carousel ul li img
    width  :  200px
    height  :  150px


.carousel .pagination-links 
    list-style : none
    margin : 6px 0 0 35px
    padding : 0

 
.carousel .pagination-links li 
    display : inline


.carousel ol.pagination-links li a 
    padding : 2px 9px 
    &:hover
        border-bottom : 1px dashed #be2620   


.carousel ol.pagination-links li 
    margin : 0 5px 0 0
    a:hover 
        text-decoration : none

#content .carousel .pagination-links li.current a 
    background : #444
    color : #fff
    -webkit-border-radius : 2px
    -moz-border-radius : 2px
    border-radius : 2px

    &:hover
        border-bottom : none
        cursor : default

 
.carousel .disabled 
    color : gray
    cursor : default


#content .carousel ul li a:hover
    border-bottom : none

/** my carousel 3 **/
#carousel-photos,
#my-carousel-3
    position  :  relative
    border : 1px #ccc solid 
    padding :  10px 0
    margin  :  20px 0 0 0

    .mask 
        width : 620px
        margin  :  0 0 0 27px   


    .prev, .next
        height :  43px
        position :  absolute
        top :  145px
        width :  30px
        margin  :  0 0 0 6px
        background  :  url(../../images/btn-carousel.png) no-repeat left -51px


    .prev 
        &:hover
            background-position  :  left 0px

    .next
        &:hover
            background-position  :  left -155px

    .next
        right  :  -4px
        background-position  :  left -104px

    a
        border : none
        &:hover
            border : none

    ul li,
    ol li
        list-style : none!important

    ol.pagination-links li a:hover
        border-bottom : 1px dashed #be2620  


