/*
  Welcome to Compass. Use this file to write IE specific override styles.
  Import this file using the following HTML or equivalent:
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]--> */


.region-header
	position : relative
	overflow : visible
	#block-menu-block-2
		left : 50%
		margin-left : -520px
		ul li
			list-style-image : none
			list-style-type : none
			z-index : 10000
			ul
				background : none
				li
					float : left
	#block-menu-menu-second-menu
		li
			float : left
			margin-left : 10px
			&:hover
				-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
				filter : alpha(opacity=50)

	.btn-sociaux:hover
		-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
		filter : alpha(opacity=50)

.item-list ul.pager li.pager-current
	background : red
	margin-right : 5px!important

#block-menu-menu-menu-footer
	ul li
		list-style-image : none
		list-style-type : none

#footer .contact
	float : right

#content .block-menu-block .content .menu
	li
		float : left


.content .ui-widget-content
	-ms-filter : none
	filter : none

	