
//----- Classement des éléments CSS --------------------------// 

// - GLOBAL    
// - NAVIGATION (NAV) 	GNA 
// - - PRINCIPALE		GPR
// - - SOUS-MENU HEADER NSMH
// - - SOUS-MENU PHAGE	NSMP

// - HEADER
// - - SEARCH 			HSE
// - - BANNIERE 		HBA
// - - NOUVELLES 		HNO
// - - BREADCRUMB		HBR

// - SIDEBAR
// - - GLOBALE 			SGL
// - - EVENEMENTS		SEV
// - - VIDEOS			SVI

// - NODE
// - - GLOBAL			NG
// - - FRONT			NF
// - - EPINGLÉ			NE
// - - LISTE			NL
// - - PAGE				NP
// - - PROJETS			NPR

// - PAGE SEARCH 		PS
// - PAGINATION
// - TAGS
// - WEBFORM (MODULE)
// - FOOTER
// - ADMIN- 
 
//-----------------------------------------------------------//

@import compass/reset 
@import compass/css3 
 

$font1 :  Irma Regular, Helvetica, Arial
$font1B : Irma SemiBold, Helvetica, Arial
$font2 : Optima, 'Cabin', Helvetica, Arial  
$redSat : #be2620
$greySat : #333
$lineColor : #e7e7e7
$lightText : #999
$boxShadow : +box-shadow(rgba(black, .4) 0 0 25px, rgba(black, .1) 0 0 3px 1px inset)
+font-face("Irma_hairline", font-files("/sites/all/themes/sat/assets/fonts/Irma_hairline.otf"))
+font-face("Irma_thin", font-files("/sites/all/themes/sat/assets/fonts/Irma_thin.otf"))
=fontIrma
	font-family : $font1
	letter-spacing : 0.1em	
	text-transform : uppercase
	font-weight : normal

=fontIrmaB
	font-family : $font1B
	font-style : normal
	font-weight : 700
	font-stretch : normal
	letter-spacing : 0.1em	
	text-transform : uppercase

=fontIrmaL
	font-family : Irma Light
	font-style : normal
	font-stretch : normal
	letter-spacing : 0.1em	
	text-transform : uppercase



=btnSat
	background : $greySat
	color : white !important
	cursor : pointer
	padding : 5px
	+border-radius(3px)
	margin : 0 5px 0 0 
	&:hover
		background : $redSat

=clearfix
	zoom : 1
	&:before, &:after
		content : "\0020"
		display : block
		height : 0
		overflow : hidden
	&:after
		clear : both

// Transition shortcut
=transition($transition)
	-webkit-transition : $transition
	-moz-transition : $transition
	-ms-transition : $transition
	-o-transition : $transition
	transition : $transition

// Background vertical shorcut
=gradient-vertical ($startColor, $endColor)
	background-color : $endColor
	background-repeat : repeat-x
	background-image : -khtml-gradient(linear, left top, left bottom, from($startColor), to($endColor)) // Konqueror
	background-image : -moz-linear-gradient(top, $startColor, $endColor) // FF 3.6+
	background-image : -ms-linear-gradient(top, $startColor, $endColor) // IE10
	background-image : -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startColor), color-stop(100%, $endColor)) // Safari 4+, Chrome 2+
	background-image : -webkit-linear-gradient(top, $startColor, $endColor) // Safari 5.1+, Chrome 10+
	background-image : -o-linear-gradient(top, $startColor, $endColor) // Opera 11.10
	background-image : linear-gradient(top, $startColor, $endColor) // The standard
	//filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$startColor,$endColor)); // IE9 and down
	filter : progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorstr=$startColor, endColorstr=$endColor)

.clearfix 
	+clearfix

a
	text-decoration : none
	color : $greySat

a:active
	color : $greySat

a:visited
	color : #333

h1, h2, h3, h4, h5, h6, .fieldset-legend
	+fontIrma
	margin : 0 0 10px 0
	line-height : 1.1em

h1
	background : url("../../images/puceH1.png") no-repeat scroll 8px 6px transparent
	margin : 0
	padding : 0 0 0 50px
	font-size : 1.5em
	display : inline-block
	float : none
h2
	font-size : 1.2em
	line-height : 1.2em

.field-name-body h3, 
.field-name-body h2,
.cke_show_borders h3,
.cke_show_borders h2, 
.fieldset-legend, 
.box-content h2,
.cke_show_borders h2
	background : url("../../images/puceH3.png") no-repeat scroll left 5px transparent
	margin : 20px 0 15px
	padding : 0 0 0 25px

h3
	font-size : 1.05em


h4
	font-size : 0.95em
	margin-top : 1px

h5
	font-size : 0.85em

h6
	font-size : 0.75em


h3.optima,
h4.optima,
.cke_show_borders h3.optima,
.cke_show_borders h4.optima
	font-family : $font2
	letter-spacing : normal
	text-transform : none
	font-weight : bold
	background-image : none
	padding : 0


hr
	background : url("../../images/taglineBg.png") repeat-x scroll 2px 50% transparent
	border : 0 none
	height : 10px
	margin : 8px 0
	width : 100%
	display : inline-block

p
	margin : 0 0 10px 0

strong, b
	font-weight : 700

em, i
	font-style : italic

ol li
	list-style-type : decimal
	margin : 0 0 0 25px
	
ul li
	list-style-type : square
	margin : 0 0 0 15px

th, td 
	vertical-align : top

::selection
	background-color : $redSat
	color : white

::-moz-selection
	background-color : $redSat
	color : white


.field-name-body,
.cke_show_borders
	a
		color : #be2620
		&:hover
			border-bottom : 1px #be2620 dashed

	ul li
		margin : 0 0 8px  25px

	p
		margin : 0 0 10px 0
		line-height : 1.4em

	a.various
		display : block
		img
			display : block
		&:hover
			border-bottom : none

#content .field-name-body a.various:hover
	border-bottom : none



//-------------------------------------------------------------------------------//
//------							@GLOBAL                              -------//
//-----------------------------------------------------------------------------//


body
	background : url(../../images/bgBody.jpg) repeat
	font-size : 62.5%
	font-family : $font2
	height : 100%
	position : relative

#content a.btn-sat 
	background : $greySat
	+border-radius(3px)
	color : white
	display : inline-block
	float : right !important
	padding : 0 10px
	height : 26px
	line-height : 28px
	margin : 0
	+fontIrma
	font-size : 0.8em
	+transition(.2s linear background-color)
	&:hover
		background-color : $redSat
		border : none

	&.aller,
	&.retour	
		position : relative
		height : 19px
		line-height : 21px
		font-size : 10px
		// border : 1px solid #DDDDDD
		// border-radius : 3px 3px 3px 3px
		// color : #333333
		// display : block
		// float : left
		// background-color : white
		// font-family : Irma Regular,Helvetica,Arial
		// font-weight : normal
		// height : 13px
		// letter-spacing : 0.05em
		// line-height : 15px
		// padding : 4px 6px
		// text-transform : uppercase
		// transition : all 0.2s linear 0s


	&.aller
		padding-right : 18px
		padding-left : 6px
		&:after
			display : block
			content : ''
			width : 10px
			height : 15px
			background-image : url("../../images/sprite_pagination.png")
			background-position : -50px -2px
			background-repeat : no-repeat
			position : absolute
			top : 1px
			right : 5px

	&.retour
		padding-right : 6px
		padding-left : 18px
		float : none !important
		&:after
			display : block
			content : ''
			width : 10px
			height : 15px
			background-image : url("../../images/sprite_pagination.png")
			background-position : -29px -2px
			background-repeat : no-repeat
			position : absolute
			top : 1px
			left : 5px



#content a
	color : $redSat


#bgTopRed
	height : 400px
	min-width : 1080px
	width : 100%
	position : absolute
	top : 0px
	background : url(../../images/bgTopRed.png) no-repeat center top
	z-index : -1

#logoSat
	height : 66px
	width : 1040px
	margin : 0 auto
	padding : 20px 0 0
	position : relative

#section
	height : 50px
	margin : -10px 0 0
	width : 100%

#page
	width : 1040px
	margin : 0px auto
	position : relative

#content a:hover
	border-bottom : 1px dashed $redSat 

#main-wrapper
	width : 1040px
	min-height : 100%
	margin : 0 auto
	position : relative
	z-index : 1

	#main
		padding : 20px 0px 20px 20px
		//background : url("../../images/borderMain.png") repeat-y scroll 710px top #FCFCFC
		background :  #FCFCFC
		+box-shadow(rgba(black, .4) 0 0 25px, rgba(black, .1) 0 0 3px 1px inset)

		&.no-sidebar
			padding : 20px 
			background-image : none

			h1
				width : auto

			#content
				width : 100%
				margin-right : 0
			

		#content
			width : 680px
			margin : 0 50px 0 0
			padding : 0
			float : left
			font-size : 1.4em
			line-height : 1.2em
			position : relative







.moreInfo-list a
	background : $greySat
	color : white
	width : 40px
	font-size : 0.7em
	padding : 0 1px 0 7px
	margin : 2px 10px 0 0
	text-align : left
	text-transform : uppercase
	float : right

.fb_edge_widget_with_comment
	float : right


a.back-link
	font-size : 10px
	font-weight : bold
	text-transform : uppercase
	padding-left : 11px
	background : url('../../images/ico_backLink.png') no-repeat 0 4px



html.js fieldset.collapsible .fieldset-legend
	background-position : 0 65%

html.js fieldset.collapsed .fieldset-legend
	background-position : 0 50%




.side-by-side > .sharrre_buttons
	float : right
	margin : 0

// TABS AND PILLS
// -------------

// Common styles
ul.nav-tabs,
ul.nav-pills
	+clearfix
	list-style : none
	margin : 0
	padding : 0

ul.nav-tabs > li,
ul.nav-pills > li
	float: left
	margin : 0
	padding : 0
	background : none
	list-style : none

.nav-tabs > li > a,
.nav-pills > li > a
	padding-right: 12px
	padding-left: 12px
	margin-right: 2px
	line-height: 14px // keeps the overall height an even number


// TABS
// ----


// Give the tabs something to sit on
ul.nav-tabs
	border-bottom: 1px solid #ddd
	margin-top : 20px

// Make the list-items overlay the bottom border
ul.nav-tabs > li
	margin-bottom : -1px


// Actual tabs (as links)
#content .nav-tabs > li > a
	padding-top: 8px
	padding-bottom: 8px
	//line-height: $baseLineHeight
	border: 1px solid transparent
	+border-radius(4px 4px 0 0)
	color : $redSat
	display : block
	line-height : 14px

	&:hover,
	&:focus
		border-color: #FCFCFC
		background-color : #FCFCFC
		border-bottom-color: #ddd
		border-bottom-style : solid
		//color : darken($redSat, 10)

// Active state, and it's :hover/:focus to override normal :hover/:focus
#content .nav-tabs > .active > a,
#content .nav-tabs > .active > a:hover,
#content .nav-tabs > .active > a:focus
	color: $greySat
	background-color: white
	border: 1px solid #ddd
	border-bottom-color: transparent
	cursor: default

#content .box-content 
	ul.nav-tabs
		border-color: #444444

	.nav-tabs > li > a
		
		&:hover,
		&:focus
			border-color: #444444
			background-color : #444444
			border-bottom-color: #444444
			border-bottom-style : solid


	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	.nav-tabs > .active > a:focus
		color : white
		background-color : #555555
		border-color: #555555 #555555 #444444
		border-bottom-color: transparent


// PILLS
// -----

// Links rendered as pills
.nav-pills > li > a
	padding-top: 8px
	padding-bottom: 8px
	margin-top: 2px
	margin-bottom: 2px
	+border-radius(5px)

// Active state
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus
	color: white
	background-color: $redSat


// Tabs content

.tab-content
	padding : 0 14px
	
.tab-content > .tab-pane,
.pill-content > .pill-pane
	display: none
	padding : 15px 0

.tab-content > .active,
.pill-content > .active
	display: block



//--------------------------- SHARRRE BUTTONS ---------------------------//

.sharrre
	margin : 0 0 0 8px
	float : right
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif
	position : relative
	padding-right : 32px

#content .sharrre .box a.share,
.fancybox-inner #photo_viewer .sharrre .box a.share
	color : white
	&:hover
		text-decoration : none


#content .sharrre .box,
.sharrre .box
	cursor : default
	float : none
	margin : 0
	position : static
	width : auto

	a:hover
		color : white

#content .sharrre a.count,	
.fancybox-inner #photo_viewer .sharrre a.count
	position : absolute
	top : 0
	right : 0
	color : #525b67
	display : block
	font-size : 11px
	font-weight : bold
	line-height : 16px
	height : 18px
	text-align : center
	width : 25px
	-webkit-border-radius : 4px
	-moz-border-radius : 4px
	border-radius : 4px
	border : 1px solid #b2c6cc
	background :  #fbfbfb /* Old browsers */
	+gradient-vertical(#fbfbfb, #f6f6f6)

	&:hover
		border-bottom : 1px solid #b2c6cc
		color : #525b67
		text-decoration : none

.sharrre .count:before, .sharrre .count:after
	content : ''
	display : block
	position : absolute
	left : -10px
	width : 0
	height : 0


.sharrre .count:before
	border : solid 5px transparent
	border-right-color : #b2c6cc
	margin-top : -5px
	top : 50%

.sharrre .count:after
	border : solid 4px transparent
	margin-top : -4px
	left : -7px
	top : 50%
	border-right-color : #fbfbfb

.sharrre .share
	color : #FFFFFF
	display : block
	font-size : 11px
	font-weight : bold
	height : 18px
	line-height : 16px
	margin : 0
	padding : 0
	text-align : center
	text-decoration : none
	width : 44px
	-webkit-border-radius : 4px
	-moz-border-radius : 4px
	border-radius : 4px

#content #twitterrr a.share,
#twitterrr_photoviewer a.share
	text-shadow :  1px 0px 0px #0077be
	filter :  dropshadow(color=#0077be, offx=1, offy=0)
	border : 1px solid #0075c5
	background :  #26c3eb
	background :  -moz-linear-gradient(top, #26c3eb 0%, #26b3e6 50%, #00a2e1 51%, #0080d6 100%) /* FF3.6+ */
	background :  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26c3eb), color-stop(50%,#26b3e6), color-stop(51%,#00a2e1), color-stop(100%,#0080d6)) /* Chrome,Safari4+ */
	background :  -webkit-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%) /* Chrome10+,Safari5.1+ */
	background :  -o-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%) /* Opera 11.10+ */
	background :  -ms-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%) /* IE10+ */
	background :  linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%) /* W3C */
	filter :  progid:DXImageTransform.Microsoft.gradient( startColorstr='#26c3eb', endColorstr='#0080d6',GradientType=0 ) /* IE6-9 */
	box-shadow :  0 1px 4px #DDDDDD, 0 1px 0 #5cd3f1 inset
	&:hover
		border : 1px solid #454545
		+gradient-vertical(#6c6c6c, #222)
		box-shadow :  0 1px 4px #DDDDDD, 0 1px 0 #888 inset


#content #facebookkk a.share,
#facebookkk_photoviewer a.share 
	text-shadow :  1px 0px 0px #26427e
	filter :  dropshadow(color=#26427e, offx=1, offy=0)
	border : 1px solid #24417c
	background :  #5582c9 /* Old browsers */
	+gradient-vertical(#5582c9, #33539a)
	box-shadow :  0 1px 4px #DDDDDD, 0 1px 0 #80a1d6 inset
	&:hover
		border : 1px solid #454545
		+gradient-vertical(#6c6c6c, #222)
		box-shadow :  0 1px 4px #DDDDDD, 0 1px 0 #888 inset

#content #googleplusss a.share,
#googleplusss_photoviewer a.share
	text-shadow :  1px 0px 0px #222222
	filter :  dropshadow(color=#222222, offx=1, offy=0)
	border : 1px solid #262626
	background :  #6d6d6d /* Old browsers */
	background :  -moz-linear-gradient(top, #6d6d6d 0%, #434343 100%) /* FF3.6+ */
	background :  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(100%,#434343)) /* Chrome,Safari4+ */
	background :  -webkit-linear-gradient(top, #6d6d6d 0%,#434343 100%) /* Chrome10+,Safari5.1+ */
	background :  -o-linear-gradient(top, #6d6d6d 0%,#434343 100%) /* Opera 11.10+ */
	background :  -ms-linear-gradient(top, #6d6d6d 0%,#434343 100%) /* IE10+ */
	background :  linear-gradient(top, #6d6d6d 0%,#434343 100%) /* W3C */
	filter :  progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#434343',GradientType=0 ) /* IE6-9 */
	box-shadow : 0 1px 4px #DDDDDD, 0 1px 0 #929292 inset
	&:hover
		border-bottom : 1px solid #262626












//-------------------------------------------------------------------------------//
//------							@NAVIGATION                          -------//
//-----------------------------------------------------------------------------//



//------------------------------- @NAV : PRINCIPALE (@NPR) ----------------------//

.region-header-nav-bar
	background : white
	width : 1040px
	position : absolute
	top : 96px  
	z-index : 100
	+border-radius(4px)
	+box-shadow(rgba(black, .4) 0 0 25px, rgba(black, .1) 0 0 3px 1px inset)
	+clearfix
	height : 40px
	

.menu-principal

	li.first a#menuHome
		background : url(../../images/home_menu.png) no-repeat center 8px
		width : 15px
		+border-radius(3px 0 0 3px)
		&:hover
			background : $greySat url(../../images/home_menu.png) no-repeat center -27px!important

	ul
		list-style-type : none
		li
			margin-left : 0
			padding : 0
			float : left
			display : inline-block
			position : relative

			&:hover ul
				display : block
			ul
				position : absolute
				display : none
				top : 32px
				left : 0
				padding : 8px 0 0
				height : auto
				z-index : 10
				background-color : #111
				background : none repeat scroll 0 0 rgba(1, 1, 1, 0)

				li
					display : block
					float : none


	ul > li a, .nolink
		padding : 14px 14px 13px 13px
		border-right : 1px solid #E6E6E6
		display : inline-block
		float : left
		text-transform : uppercase
		list-style-type : none!important
		font-family : $font1
		font-size : 1.3em
		font-weight : 200
		letter-spacing : 0.04em

		&:hover
			background : #3e3e3e url(../../images/bgMenu.png) repeat-y!important
			color : white

	.nolink
		cursor : default
		a
			font-size : 1em

	li ul li a
		background-color : #ffffff
		background-color : rgba(255,255,255,0.9)
		padding : 8px 10px
		width : 150px
		border-right : none

			

	li a:hover first-child
		+border-radius(3px 0 0 3px)

	.active-trail, .active
		background : #3e3e3e url(../../images/bgMenu.png) repeat-y!important
		color : white!important
		border-right : none

	ul > li.first #menuHome.active
		background : $greySat url(../../images/home_menu.png) no-repeat center -27px!important
		border-right : none 


.no-rgba .menu-principal li ul li a
	background-image : url("../../images/bgTrans3.png") !important
	background-color : transparent



//-----------------------  @NAV : SOUS-MENU HEADER (@NSMH) -----------------------------------------//

#block-menu-menu-second-menu
	position : absolute
	top : 0
	right : 0
	z-index : 100
	margin : -22px 0 0 0
	color : white
	font-size : 0.9em
	+fontIrma

	ul li
		display : inline-block
		margin : 0
		list-style : none
		list-style-image: none
		padding-right: 0

		&:after
			content: '-'
			margin-left: 3px

		&:last-child:after
			content : ''
			margin-left: 0


		a
			color : white
			opacity : 1

			&:hover
				opacity : 0.7


//-----------------------  @NAV : MENU MULTIMEDIA HEADER (@NMMH) ---------------------------------//
/*position : absolute
	z-index : 100
	right : 0
	top : 0*/
.menu-multimedia
	
	display : block
	float : right
	margin : 0
	z-index : 101
	
	.content ul
		list-style-type : none
		margin : 0
		padding : 0
		border-left : 1px solid $lineColor
		+clearfix

		li, li.leaf
			list-style-image : none
			list-style-type : none
			margin : 0
			padding : 0
			float : left

			a
				display : block
				border-right : 1px solid $lineColor
				width : 38px
				height : 40px
				background-image: url("../../images/sprite_multimediaIcons.png")
				background-repeat : no-repeat
				background-position : -27px -357px
				text-indent : -10000px
				overflow : hidden

				&:hover, &.active-trail, &.active
					background-color : #3e3e3e
					color : white


			&.albums-photo a
				background-position : -27px -257px

				&:hover, &.active-trail, &.active
					background-position : -27px -321px


			&.vid-os a
				background-position : -27px -357px

				&:hover, &.active-trail, &.active
					background-position : -27px -421px

			&.diffusions-audio a
				background-position : -31px -651px 

				&:hover, &.active-trail, &.active
					background-position : -31px -691px




  

//-----------------------  @NAV : SOUS-MENU PAGE (@NSMP) -----------------------------------------//

#content .block-menu-block, #content .block-menu
	.content .menu
		+clearfix 
		width : 720px
		+fontIrma
		font-size : 0.72em
		margin : -20px 0 30px -20px
		background : #3e3e3e	 url(../../images/bgSubMenu.png) repeat-x left bottom
		li 
			margin : 0
			padding : 0
			list-style : none outside none
			a
				float : left
				margin : 0
				height : 22px
				line-height : 24px
				padding : 0 7px
				background : url(../../images/bgLiSub.png) no-repeat center left
				color : white
				border : none
				&:hover
					border : none
					background : $redSat
				&.active
					background : #fcfcfc
					color : #333


		.active-trail
			background : #fcfcfc
			color : $greySat!important	
			&:hover
				background : #fcfcfc
			a
				padding : 0px 7px 0px

		.first.active a
			background : #fcfcfc url(../../images/bgFirstSubActive.png) repeat-y top left

.no-sidebar #content .block-menu-block, .no-sidebar #content .block-menu
	.content .menu
		width : 1040px

//-------------------------------------------------------------------------------//
//------							@HEADER                              -------//
//-----------------------------------------------------------------------------//


//---------------------------- @HEADER : BTN SOCIAUX (@HBT) --------------------------//


#link-sociaux
	position : absolute
	right : -3px
	top : -50px


	a.btn-sociaux
		width : 16px
		height : 18px
		display : inline-block
		margin : 0 4px 0 0
		background : url(../../images/btnSociaux3.png)no-repeat
		&:hover
			opacity : 0.7

	#btn-facebook
		background-position : 0 0px

	#btn-twitter
		background-position : -21px 0px

	#btn-vimeo
		background-position : -42px 0px

	#btn-flickr
		background-position : -63px 0px

	#btn-google
		background-position : -127px 0px






//---------------------------- @HEADER : SEARCH (@HSE) --------------------------//


#block-search-form
	display : block
	//margin : -30px 0 0 870px
	z-index : 101
	float : right

	.content
		padding : 11px 0 0 11px

	.custom-search-button
		position : absolute
		top : 2px
		left : 4px
		opacity : 0.4

	.custom-search-box
		+border-radius(4px)
		border : 1px #ccc solid
	
		padding : 2px 2px 4px 24px
		margin : -1px 10px 0 0
		width : 80px
		color : $lightText

	.search-form
		position : relative
		float : right
		margin : 0



//---------------------------- @HEADER : BANNIERE (@HBA) -------------------------------------//

.region-header
	margin : 10px 0 2px 0
	display : inline-block
	position : relative
	width : 100%

.banniere-evenement
	width : 720px
	height : 300px
	float : left
	position : relative
	margin : 50px 0 0 0
	+box-shadow(rgba(black, .4) 0 0 25px)
	background : white
	position : relative
	h2
		display : none

	.view-content
		overflow : hidden
		height : 300px

	#nav
		bottom : 18px
		font-size : 0
		position : absolute
		right : 20px
		z-index : 32
		a
			background : url("../../images/btnBanner.png") no-repeat scroll center top transparent
			display : inline-block
			height : 13px
			margin : 0 0 0 5px
			width : 13px
		.activeSlide
			background : url("../../images/btnBanner.png") no-repeat scroll center -20px transparent


	#title-banner
		height : 50px
		padding : 0 30px
		margin : -54px 0 0 0
		position : absolute
		width : 660px
		z-index : 30
		background-color : #333
		background : rgba(35, 35, 35, 0.8)
		color : white
		+fontIrma
		font-size : 1.8em
		line-height : 2.8em
		top : 304px
		left : 0
		position : absolute


//---------------------------- @HEADER : NOUVELLES (@HNO) -------------------------------------//

#block-views-nouvelles-block-1
	float : right
	height : 300px
	margin : 50px 0 0 5px
	width : 315px
	+box-shadow(rgba(black, .4) 0 0 25px)

	.field-content a
		display : block
		height : 97px
		margin : 0 0 5px
		position : relative
		width : 100%
		+fontIrma
		font-size : 1.25em
		line-height : 1.6em
		color : white

		.info-news
			position : absolute
			left : 0px
			margin : 0px 0 7px 
			padding : 6px 5px 6px 8px
			top : -3px
			

			.bg
				background-color : #333
				background-color : rgba(0,0,0,0.6)
				display : inline
				padding : 2px 3px 0 3px
				+transition(.2s linear all)
				letter-spacing : 0.1em
				line-height : 1.6em

		&:hover .bg
			background : $redSat

	a#btn-nouvelle
		background : $greySat
		float : right
		color : white
		padding : 5px
		+fontIrma
		font-size : 1.2em
		margin : -3px 0 0 0
		+transition(.2s linear background-color)
		&:hover
			background : $redSat
			
//---------------------------- @HEADER : BREADCRUMB (@HBR)  -------------------------------------//

#header-info
	width : 1040px
	min-height : 10px
	margin : 0 auto
	position : relative

	#breadcrumb

		width : 710px
		height : 25px
		margin : -29px 0 0px 0
		padding : 0 5px
		float : left

		+box-shadow(rgba(black, .4) 0 0 25px, rgba(black, .1) 0 0 3px 1px inset)
		background : #fff

		#icon-home
			background : url("../../images/iconHome.png") no-repeat right top
			display : inline-block
			height : 20px
			width : 16px
			float : left
			margin : 5px 0 0 0
			&:hover
				background-position : right -21px


		.sepBread
			height : 25px
			float : left
			background : url(../../images/nextBread.png) no-repeat bottom right
			display : inline-block
			padding : 0 15px 0 0 
			margin : 0 10px 0 0 
			font-size : 1.2em
			line-height : 2em
			cursor : default
			&:first-letter
				text-transform : capitalize
			a
				cursor : link
				&:hover
					color : $redSat


	#news
		height : 300px
		width : 315px
		float : right
		+box-shadow(rgba(black, .4) 0 0 25px)
		background : white



//------------------------------------------------------------------------------//
//------							@SIDEBAR   							-------//
//----------------------------------------------------------------------------//


//----------------------- @SIDE : GLOBAL (@SGL)  -----------------------------//

.sidebar .block-views, .sidebar .block-webform, .sidebar .block
	margin : 35px 0 0 0
	position : relative

	h2
		font-size : 1.4em
		background : url("../../images/puceH3.png") no-repeat scroll 5px 5px transparent
		padding : 0 0 0 35px


	.link-media:hover .btn-video, .link-media:hover .btn-photo, .various:hover .btn-photo
		background-position : center  -38px

	.view-content
		border : 1px solid $lineColor
		padding : 10px 3px 10px 10px
		+border-radius(3px)

		img
			display : block

		.views-row
			position : relative

	.pub-hover
		position : relative
		display : block

	.simplead-container a
		display : block
		position : relative
		background-color : $redSat
		width : 264px
		height : 264px

		img
			+transition(.2s linear all)
			+opacity(1)

		&:hover img
			+opacity(0.3)

	.bg-pub
		background-color : white
		opacity : 0.2
		position : absolute
		z-index : 100
		width : 100%
		height : 100%
		left : 0
		top : 0
		display : none

#content .simplead-container a:hover
	border-bottom : none 

.sidebar .region-sidebar-second>div:first-child
	margin-top : 10px

.narrow-sidebar>div:first-child
	margin-top : 3px

.narrow-sidebar .block-views, .narrow-sidebar .block-webform, .narrow-sidebar .block
	margin-top : 25px


.sidebar .block-views.drupal-tabs
	margin : 0

	ul
		margin : 35px 0 55px 0

#sidebar-second
	width : 285px
	min-height : 200px
	float : right
	.categorie
		width : 24px
		height : 27px
		float : left
		background : #eee
		position : absolute
		top : 8px
		left : 3px
		background : url(../../images/iconDepartements.png) no-repeat
		&.taxonomy-0
			background : none
		&.taxonomy-72 //art visuel & design
			background-position : center -36px
		&.taxonomy-73 // culture numerique
			background-position : center -167px
		&.taxonomy-76 // musique
			background-position : center -2px
		&.taxonomy-71 // culinaire
			background-position : center -72px
		&.taxonomy-75 //immersion
			background-position : center -107px
		&.taxonomy-239 //formations
			background-position: center -139px

#tooltip	
	font-family : $font2
	position : absolute
	z-index : 1000
	max-width : 130px
	/* text-transform : uppercase */
	background : #333333
	padding : 3px 5px
	color : white
	border-radius : 3px
	font-size : 11px

.region-sidebar-second .block-webform
	position : relative
	width : 284px

	#webform-component-texte-info-lettre
		+fontIrma
		font-size : 1.4em
		height : 30px
		line-height : 33px
		border : 1px solid #dddddd
		color : black
		display : block
		padding : 0 5px 0 35px
		background : url(../../images/ico_newsletter.png) no-repeat 9px 10px #fcfcfc
		width : 244px
		+border-radius(3px 0 0 3px)
		border-right : none
		margin : 0
		cursor: pointer
		position : absolute
		top : 0
		left : 0
		z-index : 101
	

	#webform-component-ton-courriel
		font-family : $font2
		letter-spacing : normal
		margin : 0
		border : 1px solid #ccc
		display : block
		padding : 2px 10px 2px 2px
		cursor: pointer
		color : #666
		+border-radius(3px)
		height : 26px
		width : 270px


		.form-text
			font-family : $font2
			font-size : 1.4em
			letter-spacing : normal
			color : #666
			width : 210px
			height : 26px
			padding : 0 10px
			border : none
			background : none

	#edit-actions
		position : absolute
		right : 0 
		top : 0
		margin : 0

	.webform-component-texte-info-lettre
		display : none

	.form-submit
		border : none
		background-color : #979797
		color : white
		padding : 0 2px
		height : 32px
		margin : 0
		font-size : 0.9em
		font-family : Arial
		+border-radius(0 3px 3px 0)
		+transition(.2s linear all)
		+fontIrma
		line-height : 33px
		position : absolute
		right : 0
		top : 0


		&:hover
			background : $redSat
			cursor : pointer

#block-twitter-block-default
	border: 1px solid #ddd
	+border-radius(3px 0 0 3px)
	padding: 10px 0 0 4px
	h2
		background : url("../../images/h2_twitter.png") no-repeat scroll left 0px transparent

	.item-list li
		display : inline-block
		.twitter_block_user
			display : none
		.tweet_text
			font-size: 1.2em
			padding: 0 0 0 35px
			width: 240px
			display: block
			float: left
			a
				color : #be2620
				&:hover
					border-bottom : 1px dashed #be2620


#facebook

	border : 1px solid #ccc
	+border-radius(3px)

//----------------------- @SIDE : GLOBAL - Version réduite (narrow-sidebar)  -----------------------//
.sidebar.narrow-sidebar
	font-size : 0.72em
	min-height : 300px

	.view-content
		margin : 0
		padding : 0
		border : 0

	.simplead-container 
		border : 1px solid #ddd
		padding : 1px
		margin-top : 13px

		a
			width : 181px


//------------------------------- @SIDE : CALENDAR (non-actif) ------------------------------------//

#block-views-calendar-block-1
	h3
		background : none
	.date-nav
		margin : 0
		height : 20px
		min-height : inherit
	.item-list ul
		margin : 0
		li
			margin : 0

	.calendar-calendar
		td
			padding : 4px!important
			text-align : center
			border : 1px solid #ccc
			font-size : 1.1em

		.month-view table
			width : 250px
	td.today
		
		background : url(../../images/today2.png)

	td.has-events
		background-color : #be2620
		a
			color : white
			text-decoration : none




//------------------------------- @SIDE : ÉVÉNEMENTS (@SEV) ------------------------------------//


#block-views-evenements-block-2, #block-views-programmation-block-2, #content .evenements-sidebar
	
	.view-content
		//background : url("../../images/taglineBg.png") repeat-x center top
		border : none
		border-top : 1px solid $lineColor
		font-size : 1.2em
		text-transform : lowercase
		overflow : hidden
		padding : 0
		+fontIrma


		a
			//background : url("../../images/taglineBg.png") repeat-x center bottom
			border-bottom : 1px solid $lineColor
			color : #3f3f3f
			display : inline-block
			padding : 7px 20px 10px 35px
			margin-top : -1px
			text-transform : uppercase
			width : 235px
			line-height: 1em
			+transition(.2s linear background-color)

			.date-moreEvent
				display : block
				color : $redSat
				font-size : 0.8em
				margin : 3px 0 0

			.info-moreEvent
				display : block
				font-size : 0.8em
				margin : 2px 0 0px
				width : 220px

			&:hover
				background : #333
				color : white
				& .date-moreEvent
					color : #e7312a


	a#btn-billetterie
		display : block
		float : left
		padding : 4px 6px 4px 6px
		height : 13px
		line-height : 15px
		border : 1px solid #ddd
		+border-radius(3px)
		+fontIrma
		color : #333
		margin : 10px 0 0 7px
		+transition(.2s linear all)
		&:hover
			background-color : $redSat
			color : white !important
			cursor : pointer

#content .narrow-sidebar .view-id-evenements .view-content a,
.narrow-sidebar .view-id-evenements .view-content a
	padding : 10px 6px
	line-height: 1em
	width : auto
	display : block
	float : none

	.info-moreEvent
		width : auto

#content .narrow-sidebar a#btn-billetterie
	margin-left : 2px

	
	
//------------------------------- @SIDE : FACEBOOK (@SFA) --------------------------------//
	
#block-block-2
	display : inline-block
	width : 268px
	padding : 5px 0 5px 15px
	border : 1px solid $lineColor
	+border-radius(3px)
	overflow : hidden
	#logo-sat-facebook
		width : 50px
		height : 50px
		background : url(../../images/logoSat-facebook.png) no-repeat center center
		float : left
		margin : 5px 15px 10px 0px
	#title-facebook
		+fontIrma
		width : 190px
		font-size : 1.4em
		margin : 6px 0
		line-height: 1.2em
		display : inline-block
		vertical-align: top
		//color : #2b65b4
	#iframe-facebook
		display : inline-block
		width : 140px




//------------------------------- @SIDE : PHOTOS _ VIDEOS (@SVI) ---------------------------------//
.sidebar .block-views 
	.view-multimedia-sidebar 
		+clearfix
		.view-content
			padding : 0
			border : 0

	a.btn
		display : block
		float : left
		padding : 4px 28px 4px 6px
		height : 13px
		line-height : 15px
		+border-radius(3px)
		border : 1px solid #ddd
		+fontIrma
		color : #333
		font-size : 0.7em
		margin : 10px 0 0 7px
		+transition(.2s linear all)

		&:hover
			background-color : $greySat
			color : white !important
			cursor : pointer

		&.video 
			background-image: url("../../images/sprite_multimediaIcons.png")
			background-repeat : no-repeat
			background-position : right -366px
			//background-position : 70px -108px
		&.photo
			background-image: url("../../images/sprite_multimediaIcons.png")
			background-repeat : no-repeat
			background-position : right -267px




//btn.photo : 73px 4px   btn.video : 71px -86px
//------------------------------- @SIDE : LINK_SAT (@SLS) --------------------------------//

#block-block-3 .content
	background : url("../../images/bgLinkSat.png") center top no-repeat
	height : 103px
	padding : 60px 0 0 0
	margin : -26px 0 0 0
	a
		background-color : #000
		background : rgba(0,0,0,0.7)
		color : white
		display : block
		padding : 0 5px 0 35px
		+fontIrma
		font-size : 1.4em
		margin : 10px 0 0 0
		height : 1.7em
		line-height : 1.8em
		//+opacity(0.7)
		+transition(.2s linear all)
		&:hover
			background-color: $redSat
			//+opacity(1)

		&:last-child
			margin-top : 5px

.sidebar .region-sidebar-second div#block-block-3
	margin-top : 9px

//------------------------------------------------------------------------------//
//------							@NODE  								-------//
//----------------------------------------------------------------------------//


//------------------------------- @NODE : GLOBAL (@NGL) -------------------------//

#content .node-event, #content .node-nouvelle

	h2
		font-size : 1em
		line-height : 1.2em
		a
			color : $greySat
			&:hover
				color : $redSat

	.field-name-field-date
		+fontIrma
		color : $redSat

		.date-display-start, .date-display-single
			margin : 0 5px 0 10px


		.date-display-end
			margin : 0 0 0 5px
			+fontIrma

		.date_day
			color : $redSat

		.date_month
			color : $redSat
		.and
			font-size : 0.7em
		.date_year
			color : $greySat

		.field-lieu
			display : inline-block
			margin-left : 3px
			font-size : 0.9em
			
	.tiret-date-lieu
		display : inline-block
	.btn-lang
		float : right
		margin : 9px 0 0 
		+fontIrmaB
		text-transform : uppercase
		font-size : 0.75em
		line-height : 1em


	.field-name-body,
	.cke_show_borders
		font-size : 1em
		line-height : 1.4em

	.field-name-field-lieu, 
	.field-name-field-type-article,
	.type_contenu
		min-width : 125px
		min-height : 13px
		font-size : 0.8em
		color : $redSat
		+fontIrma
		display : inline-block
	#adulte
		float : left
		margin : 0px 0 0 8px
		background : #333
		color : white
		padding : 3px 5px 2px
		+border-radius(3px)
		font-family: Arial

	.info-bulle:hover
		border : none
		cursor : help

	.links-event
		float : right 
		margin : 5px -7px 0 0

	.info-link a
		width : 59px
		background-image : url("../../images/bgLinks2.png")
		color : white
		font-size : 0.7em
		line-height : 1em
		float : left
		+fontIrma
		display : inline-block
		padding : 0 0 0 5px
		height : 15px
		line-height : 15px

		&:hover
			background-position : 0 -19px
			border-bottom : none


	.info-link.short a
		width : 40px
		margin : 0 12px 0 0
		float : inherit
		color : white
		&:hover
			border : none
			background : $redSat
			color : white

	.type-link
		background : url("../../images/bgLinks2.png") no-repeat
		background-position : right 0
		display : inline-block
		color : white
		float : right
		width  : 103px
		margin : 0 0 0 -4px
		padding : 0px 17px 0px 0
		+fontIrma
		font-size : 0.7em
		line-height : 0.7em
		text-align : right
		line-height : 15px
		height : 15px
		&:hover
			background-position : right -19px
			border-bottom : none

	a.type-link
		color : white

.btn-linkEvent
	+fontIrma
	font-size : 0.7em
	padding : 1px 4px 0
	background : url("../../images/bgLinkL.png") no-repeat  -10px top
	color : white
	text-align : center
	position : absolute
	z-index : 10
	right : 15px
	bottom : 15px
	height : 16px
	display : none
	&:hover
		background-position : left -30px
		border : none
	&:active
		background-position : left -60px

	

#accordion h3, .content .accordion h3
	background-position : left 8px

#accordion h2, .content .accordion h2
	background : #eee
	font-size : 0.9em
	margin : 5px 0 0 0
	font-weight : normal
	font-family : Irma Regular, helvetica
	letter-spacing: 0.05em
	padding : 0
	width : 100%

	a
		padding-left : 2.2em
		display : block
		height : 30px
		line-height : 32px

		&:hover
			text-decoration: none
			border : none!important

.ui-accordion h2.ui-accordion-icons
	padding-left : 0
	padding-right : 0
	width : 100%

#accordion, .accordion, .ui-widget
	font-size : 0.8em !important

.ui-state-active 
	border-bottom : none!important
	a
		color : #be2520!important
		text-decoration : none!important

.content #accordion .ui-widget-content
	background : none
	+gradient-vertical(#fcfcfc,#eee)

.view-footer
	width : 100%
	display : inline-block

.ui-accordion .ui-accordion-content,
#main-wrapper #main #content .section-article.ui-accordion-content
	padding : 3% 2% !important
	width : 96%
 
.language-switcher-locale-url

	li
		list-style: none
		margin : 0
		&.active
			display : none




// Styles de contenu utilisé par les éditeurs 
// (via ck editor)


// Section-article to make two column
.section-article
	display : table
	padding : 10px 0
	width : 100% 

.subSection-article
	display : table-cell
	vertical-align : top
	padding : 0 0 0 10px
	width : 49%

	&.w30
		width: 30%

	&.w40
		width: 40%
		
	&.w60
		width: 58%
		
	&.w70
		width: 68%
		


	p
		font-size : 0.86em

	img
		display : block
		padding : 10px
		border : 1px solid #D4D4D4
		+border-radius(3px)



.section-article .subSection-article:first-child
	padding-left : 0

.subSection-2
	float : left
	width : 330px


// link with a small arrow before
a.arrow_link
	text-transform : uppercase
	font-size: 9px
	line-height: 15px
	font-weight: bold

	&:before
		content: '►'
		color: black
		margin-right: 4px

// Image with a frame
.img_left_frame,
.img_right_frame
	margin: 0 10px 0 0
	padding : 10px
	border: 1px solid #d4d4d4
	padding : 10px
	+border-radius(3px)
	float : left
	width : auto

	img
		display : block

.img_right_frame
	float : right

.img_left
	float : left
	margin: 0 10px 0 0
	width : auto

	img
		display : block


//  Red box with white uppercase text
div.important_info
	text-transform: uppercase
	font-weight: bold
	font-size: 14px
	text-align: center
	color: #333333
	background: #be2620
	padding: 10px
	width: 660px
	+border-radius(3px)
	margin-top: 0
	margin-bottom: 10px
	color: #FFFFFF

//  Gray box with text inside
div.gray_box
	border: 2px solid #333333
	padding : 20px
	+border-radius(5px)
	background-color: #f2f2f2
	width: 400px
	margin : 30px auto
	text-align : center

// Small text
.txt_small
	font-size: 12px

// hr 120px
hr.short
	width: 120px

// Marges au besoin des éditeurs
.topmargin
	margin-top: 30px
	display: block
.leftmargin
	margin-left: 30px
	display: block
.rightmargin
	margin-right: 30px
	display: block
.bottommargin
	margin-bottom: 30px
	display: block


//------------------------------- @NODE : @FRONT (@NF) --------------------------------//

.front

	#content 
		h1
			float : none

		a
			color : white

		.info-event
			position : absolute
			z-index : 1

			h2
				background-color : #333
				background-color : rgba(0,0,0,0.7)
				padding : 8px
				margin : 0
				color : white!important
				width : 314px
				z-index : 100
				position : relative 
				z-index : 100

			.field-name-body

				overflow : hidden
				color : white
				width : 330px
				line-height : 1.2em

				.field-items
					display : none
					padding : 10px 10px 45px 10px
					background-color : #000
					background-color : rgba(0,0,0,0.7)
					position : relative
					z-index : 10
					.field-item
						//display : none

		.view-content
			+clearfix

		.views-row-odd
			margin-left : 0px
		.views-row-even
			margin-left : 20px

		.views-row
			width : 330px
			height : 255px
			display : inline-block
			float : left
			margin-top : 20px
			position : relative
			overflow : hidden

		.views-row-1, .views-row-2
			margin-top : 0


		.field-name-field-image img
			width : 330px
			height : 220px

		.field-name-field-date
			background : #111
			padding : 8px
			font-size : 0.9em
			position : relative
			z-index : 100



	//------------------------------ @NODE : EPINGLÉ (@NEP) ---------------------------------//

	#block-views-programmation-block-1, #block-views-evenements-block-1
		width : 680px
		min-height : 200px
		margin : 0 0 30px 0
		float : left

		.views-row
			width : 680px

			h2
				width : 664px

			.field-name-body
				width : 680px

			.field-name-field-image img
				width : 680px
				height : 250px

			.links-event
				display : none


//------------------------------ @NODE : LISTE (@NLI) -------------------------------//

//.page-nouvelles, .page-evenements, .front, .page-taxonomy-term

#content .mode-liste, .page-taxonomy #content

	h1
		width : 100%
		margin : 15px 0 0 0
		display : inline-block


	.event-summary
		width : 100%
		display : inline-block
		float : left
		margin : 5px 0 12px 0
		padding : 0 0 20px 0 
		background : url("../../images/taglineBg.png") repeat-x bottom
		position : relative



		h2
			width : 390px
			font-size : 1.2em
			margin : 0 0 3px 0px
			display : inline-block


		.field-name-field-date
			float : left
			width : 50px
			min-height : 100px
			text-align : center

			.date
				display : block
				width : 100%
				text-align : center
				font-size : 0.7em
			.date_day
				font-size : 1.2em
			.date_year
				font-size : 0.8em

		/*.type_contenu
			position : absolute
			top : 0
			left : 50px
			z-index : 2
			background-color : white 
			background-color : rgba(255,255,255,0.8)
			display : block
			width : auto
			line-height : 16px
			padding : 3px 10px 0
			+border-radius(0 0 5px 0)
			color : black
			+fontIrma
			font-size : 10px
			text-transform : uppercase*/

		.field-type-image
			max-width : 220px
			max-height : 140px
			margin : 0 15px 0 0
			float : left
			img
				max-width : 220px
				max-height : 140px
				+box-shadow(rgba(black, .6) 0 0 15px, rgba(black, .1) 0 0 3px 1px inset)


	.field-name-field-lieu
		margin : 0 0 10px 0px

	.field-name-body
		display : block
		width : 390px!important
		min-height : 55px
		float : left

	.links-event
		margin : 0px 35px 0 0


.page-albums, 
.page-videos, 
.page-audio,
.node-type-album-photo,
.node-type-video-multimedia,
.node-type-diffusion-audio
	.region-header-nav-bar
		top : 96px
	#section
		height : 58px

.page-albums #content,
.page-videos #content,
.page-audio #content
	h1
		float : none
	hr
		display : none
	.region-content
		margin-top : 18px
	#section
		display : none

/* styles d'entête de la page du repertoire d'albums photo (filtre, recherche, pagination) */
.page-albums #content,
.page-videos #content,
.page-audio #content
	a:hover
		border : none

.filters 
	//background-color : $lineColor
	padding : 7px 10px 4px 10px
	margin-bottom : 25px
	position : relative
	+clearfix 


	.column, .views-widget-filter-tid_i18n
		float : left
		padding-right : 9px
		margin-right : 9px
		border-right : 1px dotted darken($lineColor, 50)
		height : 26px

	.media-infos
		+fontIrmaB
		font-size : 10px
		line-height : 13px
		padding-top : 2px
		min-height : 26px
		min-width : 70px
		text-align : right


	.filters-medias
		padding-right : 0
		margin-right : 0
		border-right : none

	.filters-medias
		min-height : 25px


	.search-medias
		padding : 0
		margin : 0
		border : 0
		input[type='submit']
			width : 10 px
			text-indent : -10000px
			overflow : hidden
			border : none
			background-color : $redSat


form#views-exposed-form-evenements-page-programmation,
form#views-exposed-form-evenements-page-1,
form#views-exposed-form-nouvelles-page,
form#views-exposed-form-nouvelles-page-2
	margin : 0 0 17px 8px

.filters form,
form#views-exposed-form-evenements-page-programmation,
form#views-exposed-form-evenements-page-1,
form#views-exposed-form-nouvelles-page,
form#views-exposed-form-nouvelles-page-2

	input[type='text'], select
		+border-radius(4px)
		border : 1px #ccc solid
		padding : 2px 2px 4px 2px
		width : 90px
		color : $lightText
		height : 13px
		

		&:focus
			color : darken($lightText, 50)

		&#edit-items-per-page
			width : 48px
	
	input[type='text']
		padding : 3px 2px 4px 2px
		margin-top : 0

	select
		height : 22px
		background-color : white

	.views-exposed-widgets, 
	.views-exposed-widget
		margin : 0
		padding : 0
		height : 26px

	.views-exposed-widget
		padding-top : 3px

	label, .views-widget
		float : left

	label
		padding-right : 2px
		+fontIrma
		font-size : 10px
		line-height : 24px
		height : 17px

	.views-exposed-form .views-exposed-widget .form-submit
		margin-top : 0
		
	.views-exposed-form .views-exposed-widget.views-widget-filter-tid_i18n,
	.views-widget-filter-field_artistes_residences_tid,
	.views-widget-filter-field_type_residence_value
		padding : 3px 9px 0 0
		margin : 0 9px 0 0

	.views-exposed-form .views-exposed-widget.views-reset-button
		padding-left : 9px
		margin-left : 9px
		border-left : 1px dotted darken($lineColor, 50)

	.views-exposed-form .views-exposed-widget.views-widget-per-page
		position : absolute
		right : -5px
		bottom : -31px
		height : 12px




		label
			line-height : 12px
			height : 12px
			height : auto
			text-align : right
			float : right
			font-family : $font2
			font-size : 10px
			font-weight : bold
			color : #444
			letter-spacing : normal


		select
			//border : none
			//background-color : #333
			//color : white
			height : 22px
			//+border-radius(2px)
			padding : 2px
			background-color : white

		.bef-select-as-links
			float : left

			.form-item .form-item
				width : auto
				float : left
				padding-right : 5px
				line-height : 12px
				height : 12px
				border-right : 1px solid #999
				margin-right : 5px
				font-family : $font2
				font-size : 10px
				font-weight : bold
				text-transform : uppercase
				color : #444

				&:last-child
					margin-right : 0
					border-right : none



	.views-reset-button
		display : none
		
		input 
			//border : 1px solid #cccccc
			border : none
			+border-radius(3px)
			color : #fff
			+fontIrma
			font-size : 10px
			height : 21px
			line-height : 19px
			margin : 0
			padding: 2px 3px
			text-transform : uppercase
			background-color : #333
			cursor : pointer


			&:hover 
				background-color : $redSat




 
.page-videos,
.page-audio
	#content .filters .media-infos
		line-height : 27px

/* style des albums en liste (épinglé ou non) */
.page-albums #content, 
.page-videos #content,
.page-audio #content,
#content .view-albums-de-meme-categorie,
#content .view-videos-de-meme-categorie,
#content .view-audio-de-meme-categorie
	.album

		a:hover 
			border-bottom : none
			
		.img
			position : relative
			min-height : 128px

			.category
				position : absolute
				background-color : white /*fallback */
				background-color : rgba(255,255,255,0.9)
				display : block
				width : auto
				padding : 4px 10px
				+border-radius(0 0 3px 0)
				color : black
				+fontIrma
				line-height : 11px
				font-size : 10px
				text-transform : uppercase
				+transition(.2s linear opacity)
				a
					color : black

					&:hover
						color : $redSat

			.number_of
				+transition(.2s linear opacity)

#content .view-albums-de-meme-categorie,
#content .view-videos-de-meme-categorie,
#content .view-audio-de-meme-categorie

	.album .img
		a
			background-color : $redSat
			display : block

		img
			+transition(.2s linear opacity)

			&:hover
				+opacity(0.3)



#main-wrapper #main #content .album h2 a
	color : #333

	&:hover
		color : $redSat

/* style spécifique aux albums epinglés */
.page-albums #content, 
.page-videos #content,
.page-audio #content

	.albums-epingle
		margin: 25px 0
		.album
			+clearfix

			.img
				background : url('../../images/bg_album_epingle.png') no-repeat 0 0 
				padding : 17px 7px 7px 18px
				width : 360px
				height : 230px
				float : left
				margin-right : 15px

				.category
					top : 17px
					left : 18px

				&:after
					content : ''
					width : 27px
					height : 21px
					background : url('../../images/sprite_multimediaIcons.png') no-repeat right -300px
					position : absolute
					right : 7px
					top : 17px

			.txt
				float : left 
				width : 280px
				padding-top : 25px

				.more_info
					border-top : 1px solid $lineColor
					padding-top : 6px
					+clearfix
					.number_of
						float : left
						width : 29%
						margin : 0
					.date
						float : right
						width : 69%
						text-align : right

		.view-filters
			display : none

/* style spécifique aux albums epinglés VIDEO */
.page-videos #content,
.page-audio #content

	.albums-epingle

		.album

			.img
				background : white
				border : 6px solid white
				padding : 0
				+box-shadow(-2px 3px 4px 1px rgba(0, 0, 0, 0.2))
				width : 360px
				height : 230px
				float : left
				margin-right : 15px

				.category
					top : 0px
					left : 0px

				&:after
					content : ''
					width : 27px
					height : 21px
					background : url('../../images/sprite_multimediaIcons.png') no-repeat right -400px
					position : absolute
					right : 0
					top : 0

				>a
					display : block

					&:after
						content : ''
						position : absolute

	
						z-index : 10
						+opacity(0)
						+transition(.2s linear opacity)
						width : 46px
						height : 46px
						margin : -26px 0 0 -23px
						text-align : center
						vertical-align : center
						top : 50%
						left : 50%
						cursor : pointer !important
						border : 1px solid white
						z-index : 3
						border-radius : 46px
						-webkit-border-radius : 46px
						-moz-border-radius : 46px
						background-color : #161616
						background-color : rgba(0,0,0,0.7)
						background-image  : url('../../images/sprite_multimediaIcons.png')
						background-repeat  : no-repeat
						background-position  : -3px -503px
						box-shadow : 2px 2px 4px #000
						-webkit-box-shadow : 2px 2px 4px #000
						-moz-box-shadow : 2px 2px 4px #000






					&:hover:after
						+opacity(100)


			.txt
				float : left 
				width : 280px
				padding-top : 15px

				.more_info
					border-top : 1px solid $lineColor
					padding-top : 6px
					+clearfix
					.number_of
						float : left
						width : 29%
						margin : 0
					.date
						float : right
						width : 69%
						text-align : right


	.field-collection-item-field-artiste-diffuse .content
		
		.field-name-field-artiste-nom
			width : 72%
			padding : 3px 3% 0 0
			display : inline-block

		.field-name-field-heure-txt
			width : 25%
			padding : 3px 0 0 0
			display : inline-block
			text-align : right
			

.page-audio #content 
	.albums-epingle .album 
		.img:after
			content : ''
			width : 27px
			height : 21px
			background : url('../../images/sprite_multimediaIcons.png') no-repeat right -740px 
			position : absolute
			right : 0
			top : 0 

		.txt .more_info .date
			width : 100%



/* style spécifique aux albums en LISTE (NON-épinglés) */
.page-albums #content .liste_des_albums,
.page-videos #content .liste_des_albums,
.page-audio #content .liste_des_albums
	margin: 25px 0

	.cols-3 .row
		+clearfix

	.cols-3 .col
		float : left
		width : 232px

	.cols-3 .col.col-3
		width : 216px

	.album
		margin : 0 16px 25px 0
		background-color : white

		&:hover 
			.img .category, 
			.img .number_of,
			a:after
				+opacity(100)
			.img:after
				background : none

		a.btn_moreinfo
			width : 26px
			height : 11px
			display : block
			position : absolute
			bottom : -11px
			right : 35px
			z-index : 2
			text-indent : -10000px
			overflow : hidden
			background : url('../../images/bt_moreinfo_albumlist.png') no-repeat 0 0 white
			+border-radius(0 0 3px 3px)
			border-left : 1px solid #ddd
			border-right : 1px solid #ddd
			border-bottom : 1px solid #ddd

			&:hover
				background-position : 0 -25px

		a.btn_lessinfo
			width : 26px
			height : 11px
			display : block
			position : absolute
			bottom : -11px
			right : 35px
			z-index : 2
			text-indent : -10000px
			overflow : hidden
			background : url('../../images/bt_moreinfo_albumlist.png') no-repeat 0 -50px white
			+border-radius(0 0 3px 3px)
			border-left : 1px solid #ddd
			border-right : 1px solid #ddd
			border-bottom : 1px solid #ddd

			&:hover
				background-position : 0 -75px



.page-albums #content .liste_des_albums, 
.page-videos #content .liste_des_albums,
.page-audio #content .liste_des_albums,
#content .view-albums-de-meme-categorie,
#content .view-videos-de-meme-categorie,
#content .view-audio-de-meme-categorie

	.album
		width : 216px
		padding : 0
		background : url('../../images/bg_album_vignette_moyenne_mid.png') repeat-y 0 0
		position : relative

		.img
			padding : 13px 4px 6px 12px
			background : url('../../images/bg_album_vignette_moyenne_top.png') no-repeat 0 0

			img
				display : block

			.category
				+opacity(0)
				top : 13px
				left : 12px
				max-width : 138px

			&:after
				content : ''
				width : 27px
				height : 21px
				background : url('../../images/sprite_multimediaIcons.png') no-repeat right -300px
				position : absolute
				right : 4px
				top : 13px

			.number_of
				width : auto
				+border-radius(4px)
				background-color : white /*fallback */
				background-color : rgba(255,255,255,0.8)
				padding : 1px 3px 0 3px
				position : absolute
				right : 8px
				bottom : 10px
				z-index : 1
				font-size : 12px
				font-weight : bold
				+opacity(0)

				img, span
					display : inline-block
					float : left

				img 
					margin : 2px 0 0 3px

			

		.txt
			padding : 2px 9px 9px 17px
			background : url('../../images/bg_album_vignette_moyenne_bot.png') no-repeat 0 100%

			h2
				font-size : 0.85em
				margin : 0
				height : 2.2em
				overflow : hidden

				a
					display : block
					height : 2.3em
					overflow : hidden


			p 
				margin-top : 10px
				color : #333
				font-size : 0.9em
				line-height : 1.2em

			.date
				color : #999
				font-size : 0.85em

			.moreinfo-container
				position : relative


			.moreinfo
				top : 0
				left : -17px
				z-index : 3
				position : absolute
				background : url('../../images/bg_album_vignette_moyenne_mid.png') repeat-y 0 0
				display : none

				.bg
					background : url('../../images/bg_album_vignette_moyenne_bot.png') no-repeat 0 100%
					padding : 0 12px 9px 17px
					width : 187px
				.monreinfocontent
					display : none

					h2
						height : auto


	.col-3 .album 
		margin-right : 0

//override somes styles for video specific looking VIDEO
.page-videos #content .liste_des_albums,
.page-audio #content .liste_des_albums,
#content .view-videos-de-meme-categorie,
#content .view-audio-de-meme-categorie
	.album
		width : 200px
		padding : 0
		background : none
		position : relative
		border : 3px solid white
		+box-shadow(-2px 3px 4px 1px rgba(0, 0, 0, 0.2))

		a.btn_moreinfo
			bottom : -13px
			right : 35px
			+box-shadow(-2px 4px 3px 1px rgba(0, 0, 0, 0.2))
			border : none

		a.btn_lessinfo

			bottom : -11px
			right : 38px
			+box-shadow(-2px 4px 3px 1px rgba(0, 0, 0, 0.2))
			border : none

		.img
			padding : 0 0 6px 0
			background : none

			.category
				top : 0
				left : 0

			.number_of
				right : 3px
				bottom : 8px

			&:after
				content : ''
				width : 27px
				height : 21px
				background : url('../../images/sprite_multimediaIcons.png') no-repeat right -400px
				position : absolute
				right : 0px
				top : 0px

			>a
				display : block
				width : 200px
				height : 128px
				&:after
					content : ''
					width : 52px
					height : 52px
					background : url('../../images/sprite_multimediaIcons.png') no-repeat left -500px
					position : absolute
					left : 50%
					top : 50%
					margin-left : -26px
					margin-top : -26px
					z-index : 10
					+opacity(0)
					+transition(.2s linear opacity)
					
					width : 46px
					height : 46px
					margin : -26px 0 0 -23px
					text-align : center
					vertical-align : center
					top : 50%
					left : 50%
					cursor : pointer !important
					border : 1px solid white
					z-index : 3
					border-radius : 46px
					-webkit-border-radius : 46px
					-moz-border-radius : 46px
					background-color : #161616
					background-color : rgba(0,0,0,0.7)
					background-image  : url('../../images/sprite_multimediaIcons.png')
					background-repeat  : no-repeat
					background-position  : -3px -503px
					box-shadow : 2px 2px 4px #000
					-webkit-box-shadow : 2px 2px 4px #000
					-moz-box-shadow : 2px 2px 4px #000

		&:hover
			.img>a:after
				+opacity(100)
	

		.txt
			padding : 2px 5px 5px
			background : none


			.moreinfo
				top : 3px
				left : -8px
				z-index : 3
				position : absolute
				background : white
				display : none

				.bg
					background : white
					+box-shadow(-2px 4px 3px 1px rgba(0, 0, 0, 0.2))
					padding : 0 8px 5px 8px
					width : 190px

.page-audio #content .liste_des_albums .album .img:after
	content : ''
	width : 27px
	height : 21px
	background : url('../../images/sprite_multimediaIcons.png') no-repeat right -740px 
	position : absolute
	right : 0
	top : 0


//styles for onglet streaming
.onglet_streaming
	
	position : fixed
	top : 200px
	left : -210px
	z-index : 200

	>.content
		width : 275px
		background : url('../../images/bg_onglet_streaming.png') repeat-y top right #444
		+border-radius(0 5px 5px 0)
		color : white
		position : relative
		padding : 7px 0 30px 0
		min-height : 118px
		+box-shadow(2px 2px 5px rgba(0, 0, 0, 0.2))

		h2
			color : white
			font-size : 1.4em
			height : 16px
			width : 200px
			margin : 0
			padding : 5px 0 10px 10px
			text-align : center
			

		ol
			font-size : 1.2em
			text-transform: uppercase
			width : 178px
			border : 1px #999 dotted
			border-width : 1px 0
			margin : 0 0 0 11px
			padding : 5px
	
			li
				list-style-type: none
				padding-bottom : 3px
				margin : 0
				text-align : center
				.field-name-field-heure-txt 
					display : none!important

				&.last
					padding-bottom : 0

		.streaming_lieu, .streaming_date
			width : 178px
			margin : 0 10px
		
			font-size : 1.3em
			padding : 8px 5px 1px
			text-align : center

		.streaming_date
			padding : 0 5px 5px 5px
			text-align : center

		.streaming_lien 
			
			a
				background : #be2620
				color : white
				width : 200px
				display : block
				padding : 3px 0 3px 17px
			
				font-size : 1em
				+fontIrma
				+gradient-vertical(#e02d26,#9c2721)
				position : absolute
				left : 0 
				bottom : 7px

		.streaming_arrow
			height : 11px 
			width : 80px 
			background : url(../../images/btn_streaming.png) no-repeat right top 
			float : right 
			position : absolute 
			right : 15px 
			bottom : 7px
			text-align: right
			padding : 3px 2px 3px 12px
			cursor : pointer
			background : $redSat
			+gradient-vertical(#e02d26,#9c2721)

			&:after
				content : ''
				display : block
				position : absolute
				bottom : 0
				right : -10px
				height : 17px
				width : 10px
				background : url(../../images/btn_streaming.png) no-repeat right top 

		.streaming_info
			position : absolute
			right : 0
			top : 0
			text-align : center
			width : 65px
			min-height : 108px
			border-radius : 0 3px 3px 0
			padding : 0
			//background-color : #474747
			font-size : 1.1em
			cursor : pointer

		.text-top
			+fontIrmaB
			font-size : 1em
			padding : 0 0 11px
			border-bottom : 1px #bbb solid
			margin : 0 13px 8px 10px
			background : url("../../images/sprite_multimediaIcons.png") no-repeat 10px -592px
			padding : 57px 0 8px 0

		.counter
			+fontIrma
			font-size : 0.9em





//------------------------------ @NODE : PAGE  (@NPA)  ---------------------------------//



.page-node

	h1
		//float : left
	.fb-like 
		margin : 15px 0 0 0
	#btn_twitter, #btn_googlePlus, .btn_twitter, .btn_googlePlus, 
		width : 80px
		float : right
		backgrdound : red
		margin : 0 14px 0 5px

		>div
			vertical-align : top !important


	#btn_googlePlus, .btn_googlePlus
		width : 50px

	//#btn_twitter
	//background : url('../../images/socialmediasbuttons_fakecounter.png') no-repeat right 0
	//width : 93px
	//margin-right : 9px


	.fb-like
		float : right
		margin :  0


	#header-event
		width : 100%

		hr
			margin : 12px 0 0 0
			height : 2px

		#header_left
			float : left
			min-width : 300px
			height : 30px
			padding-left : 50px	

			.field-name-field-date
				display : inline-block
				margin : 5px 0 20px 0

				.date-display-start, .date-display-end
					color : $redSat

		.field-name-field-image-header,
		.field-name-field-image-top,
		.field-name-field-video
			margin : 0 0 5px 0

		

		#header_right
			float : right
			min-height : 30px
			margin : 10px 0 0 0

		#header_bottom
			width : 100%
			float : none
			+clearfix
			margin : 0
			padding : 8px 0 0 0

		#header_right, #header_bottom

			.btn-link
				color : white!important
				font-size : 0.9em
				+border-radius(3px)
				background : $greySat
				padding : 3px 10px 2px
				float : left
				+fontIrma
				font-size : 0.7em
				letter-spacing: 0.15em

			a.btn-link
				background : url(../../images/bgLinkL.png) left top no-repeat
				&:hover
					background-position : left -30px
					border : none
				&:active
					background-position : left -60px

			#prix_event
				float : left
				margin : 0 0 0 10px

				.field-type-number-decimal
					float : left
					margin : 0 0 0 0px
					padding : 2px 4px 
					+fontIrma
					border-right : 1px solid #ccc
					font-size : 0.8em
					letter-spacing: 0.1em
					&:last-child
						border-right : none

					.field-label
						font-weight : normal
						display : inline-block
						margin : 0 3px 0 0
						&:after
							content : " : "

					.field-items
						color : $redSat
						font-weight : bold
						display : inline-block
						font-size : 0.9em

			.field-name-field-prix-regulier
				border-right : none
				+border-radius(3px 0 0 3px)



		.parallax-photos.twolines, .parallax-photos
			border : 0

		.parallax-port
			margin : 0
			border : 0

		.parallax-layer
			margin-top: 5px

			



	#body-event
		display : inline-block
		width : 100%
		ul
			margin : 10px 0 0 0

.node-type-event
	.fb-page
		display : none

.node-type-event, 
.node-type-nouvelle

	#hr-top, 
	.h1-hr
		display : none

.node-type-event .h1-hr
	display : none


//Fix to let the comment popup open on the left of the button and not outside the page / lightbox
//BUT : when clicked the button move (just a visual issue, at least it's now fully usable)
//#photo_viewer .fb-like.fb-node.fb_edge_widget_with_comment.fb_iframe_widget span iframe
//	right : 0 !important


.field-type-link-field
	background : url("../../images/taglineBg.png") repeat-x scroll left top 
	margin : 20px 0
	padding : 10px 0 0

	.field-item
		margin : 0 0 0px 0
		height : 20px
		text-transform : uppercase
		font-size : 0.8em
		display : block
		&:before
			content : '►'
			color : $greySat
		a
			margin : 0 0 0 5px

			color : $redSat
			&:hover
				border-bottom : 1px dashed $redSat

.node-type-nouvelle, .node-type-event 
	
	.fb-like
		display : block!important


/* Node - Album photo (mosaique)  */
.node-type-album-photo,
.node-type-video-multimedia

	hr
		margin-bottom : 0

	.h1-hr
		display : none

	#block-system-main .content 
		margin-bottom : 17px

	#content a.morephotos
		margin : 0
		display : block
		padding : 5px
		text-align : center
		width : 250px
		margin-left : -150px
		top : 0
		left : 50%
		position : absolute
		font-weight : bold
		border-radius : 0 0 4px 4px
		background-color : white
		+box-shadow(0 4px 5px rgba(0, 0, 0, 0.2))
		font-size : 0.9em
		color : #333
		cursor : pointer
		clear : both

		&:hover
			border : none
			background-color : #333
			color : white

	p.back-link-container
		margin : 20px 0 5px 0

	.content 

		.row1
			margin : 5px 0 0 0

		.panel 
			max-height : 755px
			width : 800px
			float : left
			overflow : hidden
			+box-shadow(-2px 4px 4px rgba(0, 0, 0, 0.2))

		a.lightbox_gallery
			
			border : none !important
			float : left
			display : block
			margin : 0 2px 2px 0
			background-color : #333333
			position : relative

			&:hover
				background-color : $redSat

			img
				vertical-align : bottom
				+transition(.1s linear all)

				&:hover
					+opacity(0.3)

					



		.multimedia_mosaique_grande 
			width : 398px
			height : 300px

		.multimedia_mosaique_moyenne_horiz
			width : 398px
			height : 149px

		.multimedia_mosaique_moyenne_vertic
			width : 198px
			height : 300px

		.multimedia_mosaique_petite_horiz
			width : 198px
			height : 149px

		.multimedia_mosaique_petite_vertic
			width : 98px
			height : 149px

		.group01 
			float : right
			width : 600px

		.group02
			width : 600px
			float : left

			.group02-01
				float : left
				width : 400px
			.group02-02
				float : left
				width : 200px

		.group03
			float : left
			width : 200px

		.group04
			width : 800px

		.narrow-sidebar
			float : right
			clear : right
			padding : 0px 0 7px
			width : 185px

			.content 
				margin-bottom : 0 !important

		.row2
			//background : url('../../images/bg_mosaiquePhotos.png') repeat-y 0 0


	.undermosaic
		float : left
		width : 800px
		padding-top : 25px
		position : relative

	.cats_and_tags
		margin : 25px 0 0 0



#share_buttons, .share_buttons
	+clearfix

.side-by-side
	+clearfix

	> *
		float : left
		display : inline-block

	.field-name-field-nombre-photos-stored
		width : 50px
		img
			margin : 3px 0 0 4px
			
	.field-name-body
		width : 660px

	.share_buttons, #share_buttons
		padding-right : 5px
		width : 275px
		float : right

	.titles
		max-width : 670px

	&.desc
		margin : 20px 0
		max-width : 800px

	&#top_info
		max-width : 800px


#photo_viewer
	position : absolute
	left : -100000px
	top : 0

	.btn_googlePlus iframe
		visibility : hidden !important  


.node-type-album-photo, 
.node-type-video-multimedia,
.fancybox-inner #photo_viewer,
.page-albums,
.page-videos
	h1
		float : none
		background : url("../../images/sprite_multimediaIcons.png") no-repeat 15px 2px transparent
		margin : 0

	.section-info
		+fontIrma
		font-size : 0.8em //714em
		margin : 5px 0 10px 0
		padding-left : 50px

.node-type-video-multimedia,
.page-videos
	h1
		background-position : 15px -87px

.node-type-video-multimedia

	.video_container
		position : relative 
		min-height : 382px
		width : 100%
		margin : 5px 0 50px 0

		.cats_and_tags
			margin : 15px 3px 0 3px
		

	.video_frame
		//position : absolute
		left : -3px
		right : -3px
		top : 0
		bottom : -6px
		+box-shadow(rgba(0,0,0,0.2) -1px 1px 5px 1px)
		background-color : white
		padding : 3px

	.field-name-field-video
		margin: 0 
		width : 672px
		background-color : white

	.duration
		margin : 5px 5px 2px 3px
		//font-weight : bold
		font-size : 0.8em
		width : auto
		padding : 3px 4px 2px
		//+border-radius(2px)
		line-height : 1em
		//border : 1px solid #d9d9d9
		background-color : #dedede
		text-align : middle
		float : right
		+border-radius(3px)

	#block-system-main .content 
		margin-bottom : 3px

	div.desc
		padding : 0 6px 10px 6px

	ul.credits
		list-style : none
		margin : 10px 0 10px 0
		padding-left : 0
		text-transform : uppercase
		font-size : 0.75em
		width : 50%
		+fontIrma

		li
			margin-left : 0
			padding-left : 0
			list-style-type : none
			padding : 1px 6px 1px 6px

		strong
			font-weight : normal
			+fontIrmaB


.fancybox-inner #photo_viewer
	a
		color : $redSat

	h1
		padding-left : 30px
		background-position : 3px 1px
		
	.section-info
		font-size : 1em 
		margin : 4px 0 0 0
		padding-left : 30px

	.sharrre_buttons
		margin-top : 11px
		margin-bottom : 11px

	.btn_googlePlus iframe
		visibility : visible !important
 
#content .field-name-field-lien-connexes,
#content .field-name-field-liens-connexes--video,
.page-taxonomy-term #content,
.view-multimedia-sidebar,
.page-search #content //search with Display Suite

	+clearfix
	margin : 40px 0 15px 0
	color : black

	.field-label
		+fontIrma
		margin : 0 0 10px 0
		line-height : 1.1em
		font-size : 0.85em

	.field-item
		width : 48%
		margin-right : 2%
		float : left

	.field-item.even
		width : 48%
		margin-right : 2%

	.field-item.odd
		width : 50%
		margin-right : 0

	.field-item:first-child:last-child
		width : 100%
		float : none

	a.lien
		border-top : 1px solid $lineColor
		padding : 8px 8px 8px 102px
		display : block
		position : relative
		min-height : 54px
		+transition(.2s linear all)
		color : $greySat
		border-bottom : none
		
		&:hover
			background-color : #333
			border-color : #333
			color : white
			border-bottom : none
			//background : url(../../images/bg_liensconnexes_ov.png) repeat-x 0 0 $lineColor
			h6
				color : $redSat

		img
			position : absolute
			left : 7px
			top : 9px
			z-index : 1
			display : block
			background-color : #eee

		h5, h6
			margin : 2px 0 0 0
			overflow : hidden
			max-height : 3.3em
			padding-left : 2px
		h5
			font-size : 0.85em
			
		h6
			color : $redSat
			margin : 2px 0
			max-height : 1.1em

		p
			font-size : 0.7em
			+fontIrma
			+opacity(0.7)
			padding-left : 2px
			margin : 0



		

	
		.img-album
			background : url(../../images/bg_album_vignette_petite.png) no-repeat 0 0 
			position : absolute
			left : 3px
			top : 4px
			z-index : 1
			padding : 6px 2px 2px 6px
			width : 85px
			height : 54px

			&:after
				content : ''
				width : 27px
				height : 21px
				background : url('../../images/sprite_multimediaIcons.png') no-repeat right -300px
				position : absolute
				right : 2px
				top : 6px

			img
				position : static


		.img-video,
		.img-audio
			//background-color : white
			border : 1px solid #ccc
			position : absolute
			left : 5px
			top : 5px
			z-index : 1
			padding : 1px
			width : 85px
			height : 54px

			&:after
				content : ''
				width : 27px
				height : 21px
				background : url('../../images/sprite_multimediaIcons.png') no-repeat right -400px
				position : absolute
				right : 1px
				top : 1px


			img
				position : static

		.img-audio:after
			background-position : right -740px 


.sidebar .view-multimedia-sidebar  
	font-size : 1.4em
	margin : 0


.view-multimedia-sidebar .view-content
	border-bottom : 1px solid $lineColor !important 

.page-taxonomy-term #content a.lien
	border-top : none
	border-bottom : 1px solid $lineColor 

	&:hover
		border-bottom : 1px solid #333

.parallax-port
	margin : 50px 0 0 0
	overflow : hidden
	position : relative
	height : 210px
	//border : 1px solid $lineColor
	//padding : 10px

	/* Horizontal lists of inline-blocks, with image backgrounds as thumbnails */
	.view-content, .parallax-layer
		position: absolute
		//width : 1356px
		margin : 0
		padding : 0
		left : 0

		.img-thumb
			display : block
			float : left
			margin : 0 10px 20px 0
			

		a:hover 
			border-bottom : none


	.nav-prev-next
		+clearfix

		.prev-button 
			float : left
			margin-top: 5px

		h4
			float : left
			width : 600px

		.next-button
			float : right
			margin-top: 5px

#content .parallax-port a:hover 
	border-bottom : none

.parallax-photos
	border-top : 1px solid #d9d9d9
	border-bottom : 1px solid #d9d9d9
	height : 191px

	h4
		margin : 10px 10px 9px 10px

	.view-content, .parallax-layer
		.img-thumb
			margin : 0 5px

	&.twolines
		height : 350px

		.view-content, .parallax-layer
			.img-thumb
				margin-bottom : 10px

#content .parallax-photos 
	.view-content, 
	.parallax-layer
		a
			height : 149px
			width : 198px
			display : block
			background-color : #eeeeee
			
		a:hover 
			border-bottom : none
			background-color : $redSat

			img
				+opacity(0.3)

	&.twolines
		.view-content, 
		.parallax-layer

			a:first-child
				height : 308px
				overflow : hidden
				width : 410px



.node-type-video-multimedia #content .parallax-port
	height : 204px
	.view-content, .parallax-layer
		.img-thumb
			margin : 0 4px 20px 6px

#content .field-name-body .parallax-port
	margin : 30px 0


/* PAGE AUDIO (*popup) */

.node-type-diffusion-audio, 
.popup 
	background-image : none
	background-color : #fcfcfc 

	div.messages
		display : none
		

	#bgTopRed
		min-width : 520px

	#header
		background-color : #464646
		background-image: url("../../images/sprite_multimediaIcons.png")
		background-repeat : no-repeat
		background-position : 22px -596px 
		+fontIrma
		font-size : 1.8em
		color : white
		height : 55px
		line-height : 57px
		padding-left : 60px

	#content
		padding : 20px
		font-size : 1.4em
		line-height : 1.2em
		width : 480px

	h1
		background-image : none
		float : none
		color : white
		padding-left : 25px

	h2
		+fontIrma
		float : none
		color : white
		font-size : 0.7em
		padding-left : 25px
		margin : 3px 0 22px 0

		.field-name-field-date-et-heure-fin-requise
			display : inline
			width : auto

			div
				display : inline
				width : auto

				div
					display : inline
					width : auto

	.audio-player iframe
		margin : 15px 0 10px 0

	#share_buttons, .share_buttons
		border-bottom : 1px solid gray
		padding : 10px 0
		margin-bottom : 20px

	.horaire, .desc, .field-name-field-lien-connexes
		margin-bottom : 20px

	.horaire, .desc
		padding-left : 10px

	#content .stream_state_text
		//min-height : 85px
		border : 2px solid #B3B3B3
		background-color : white
		padding : 35px 25px
		color : #999
		

		h4
			font-size : 1em
			color : #777

		a
			//color : #a3a3a3

	.field-type-field-collection

		.field-item
			margin-bottom : 0
			+clearfix
			&.odd
				background-color : #f5f5f5


	.field-collection-item-field-artiste-diffuse .content

		.field-name-field-artiste-nom
			width : 50%
			padding-top : 3px
			padding-bottom : 3px
			float : left

		.field-name-field-heure-txt
			width : 47%
			text-align : left
			padding-top : 3px
			padding-bottom : 3px
			float : left


	#content .field-name-field-lien-connexes 
		.field-item,
		.field-item.even,
		.field-item.odd
			width : 100%
			margin-right : 0
			float : none


	.field-collection-container
		border-bottom : none




	.field-collection-view-links
		display : none

	.field-collection-view
		border : none
		padding : 0
		margin : 0

	#content .field-name-field-lien-connexes
		margin-top : 20px


.page-audio, .node-type-diffusion-audio
	.field-name-field-artiste-diffuse,
	.entity-field-collection-item
		.field-label
			display : none

	

//------------------------------ @NODE : BOX  (@NPR)  ---------------------------------//

//.page-recherche-projets #content
.box, .boxx
	width : 220px
	float : left
	margin : 0 10px 10px 0
	position : relative
	cursor : pointer
	&:nth-child(3n)
		margin : 0

	.box-info
		position : absolute
		padding : 10px
		background : rgba(0,0,0,0.6)
		left : 0
		right : 0
		color : white

	.box-title
		color : white

	.box-short-info
		display : none
		padding-top: 10px
		font-size : 0.8em
		padding-bottom : 0

	.box-image
		width : 220px
		height : 140px
		background-color : #f3f3f3
		text-align : center
		line-height : 140px
		color : #aaa
		img
			width : 220px
			height : 140px


	.box-description
		display : none


.box-content
	width : 680px
	height : 0px
	background : #333
	margin : 0 0 10px 0
	//font-size : 1.2em
	//line-height : 1.4em
	line-height : 1.2em
	position : relative
	float : left
	color : white
	+box-shadow(rgba(black, .1) 0 0 5px 1px inset)
	+clearfix


	.column_txt
		float : left
		width : 322px

		:first-child
			margin-top : 0


	.column_img
		float : left
		margin-right : 18px
		max-width : 300px

	.box-title
		+fontIrmaB
		font-size : 1.4em
		margin : 0 0 15px 0
		width : 90% 
		line-height : 1.1em

		&.hide
			display : none


	.btn-close
		position : absolute
		top : 20px
		right : 20px
		font-family: arial
		font-weight: bold
		cursor : pointer
		font-size : 1.4em
		+opacity(0.8)
		&:hover
			+opacity(1)


	.contain
		float : left
		padding : 20px
		position : relative
		width : 640px

		h2, h3, h4, h5, h6
			margin-top : 0

		.box-link a

			padding : 5px 10px
			margin : 25px 10px 0
			background : $redSat
			color : white
			float : right
			font-size : 0.8em
			&:hover
				text-decoration: none
				background : red
				border : none

	a.btn-linkEvent
		display : block !important

#triangle-box
	float : left
	height : 10px
	margin-top : -10px
	width : 100%
	position : relative

	#triangle
		position : relative
		left : 0
		height : 0
		width : 0
		border-left : 10px solid transparent
		border-right : 10px solid transparent
		border-bottom : 10px solid #333
		

#content .box-content 
	a
		color : white
		border-bottom : 1px dashed white

		&:hover
			color : $redSat
			border-bottom : 1px dashed $redSat

	a.btn-linkEvent
		border-bottom : none
		&:hover
			color : white
 

//------------------------------------------------------------------------------//
//------							@DEPARTEMENT     					-------//
//----------------------------------------------------------------------------//			

//hide title of node departement
.page-node-5130.node-type-page, 
.page-node-5202.node-type-page, 
.page-node-5208.node-type-page, 
.page-node-5209.node-type-page
	#page-title
		display : none
	.h1-hr
		display : none


.content .departement
	width : 680px
	min-height : 300px
	padding : 0 0 180px 0
	float : left
	//margin : 20px auto

	.header-departement
		
		h1
			background : none
			padding : 100px 0 0 0
			margin : 0px 0 50px
			font-family: "Irma_hairline"
			text-align: center
			font-size: 5.5em
			color : #be2620
			width : 100%
		.description
			font-family: "Irma_thin"
			font-size : 1.1em
			line-height: 1.5em
			letter-spacing: 0.08em
			width : 550px
			margin : 0 0 0 80px
			text-align: center
			position: relative
			display : inline-block
			strong
				color : #be2620
			.quote
				background : url(../../images/quotes-departement.png) no-repeat top center
				width : 38px
				height : 38px
				position : absolute
				
			.quote-left
				top : -35px
				left : -30px
			.quote-right
				background-position : bottom center
				right : -33px
				bottom : -25px
	#btn-departement
		margin : 80px auto
		width : 588px

	.btn-dropdown
		width : 260px
		margin : 0px 4px -10px
		padding : 10px 15px 10px 7px
		+border-radius(3px)
		border : solid 1px #ddd
		cursor: pointer
		outline : none
		position: relative
		+fontIrmaL
		color : #666
		font-size : 1em
		line-height: 1.2em
		letter-spacing: 0.05em
		display : inline-block
		float : left
		z-index: 100
		&:after
			content : ""
			width : 0
			height : 0
			position : absolute
			right : 10px
			top : 20px
			margin-top : -3px
			border-width : 6px 6px 0
			border-style : solid
			border-color : grey transparent
		.dropdown
			position : absolute
			z-index : 1000
			width : 578px
			top : 45px
			left : -1px
			right : -1px
			padding-top : 0px
			transition : background 0.2s ease-out
			opacity : 0
			-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
			filter : alpha(opacity=0)
			pointer-events : none
			list-style : none
			border : solid 1px #ddd
			border-top : none
			background : url(../../images/bg_dropdown-departement.png) no-repeat 282px 0px
			background-color : #fcfcfc
			+border-radius(0px 3px 3px 3px)
			font-size : 0.8em
			letter-spacing: 0.08em
			li 
				list-style : none
				margin : 0
				a
					display : block
					text-decoration : none
					padding : 10px 10px 10px 15px
					transition : all 0.3s ease-out
					color : #333!important
				&:hover a
					background : #333!important
					color : white!important
					border : none!important
			&.second
				left : -297px
				background-position : -104px 0
				+border-radius(3px 0 3px 3px)

		&.active
			+border-radius(3px 3px 0 0)
			border-bottom : none
			height : 60px
			z-index : 101
			&:after
				border-width : 0 6px 6px 6px
			.dropdown
				opacity : 1
				-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
				filter : alpha(opacity=100)
				pointer-events : auto


	//icon departement header

	#icon-dep-recherche-1
		background : url(../../images/bg_dep-recherche-1.png) center center no-repeat
		width : 122px
		height : 50px
		top : 34px
		right : 40px
		position : absolute
	#icon-dep-recherche-2
		background : url(../../images/bg_dep-recherche-2.png) center center no-repeat
		width : 72px
		height : 68px
		top : 44px
		right : 20px
		position : absolute
	#icon-dep-formation
		background : url(../../images/bg_dep-formation.png) center center no-repeat
		width : 86px
		height : 54px
		top : 40px
		right : 20px
		position : absolute
	#icon-dep-production
		background : url(../../images/bg_dep-production.png) center center no-repeat
		width : 122px
		height : 76px
		top : 20px
		right : 157px
		position : absolute
	#icon-dep-residence
		background : url(../../images/bg_dep-residence.png) center center no-repeat
		width : 90px
		height : 65px
		top : 50px
		right : 60px
		position : absolute



//------------------------------------------------------------------------------//
//------							@LABO CULINAIRE						-------//
//----------------------------------------------------------------------------//			

#btn-menu-bouffe,#btn-menu-vin
	width : 320px
	height : 125px
	display : inline-block
	background : url(../../images/btn-menu-bouffe.png) no-repeat left top
	&:hover
		border : none!important
		background-position : left bottom

#btn-menu-vin
	background : url(../../images/btn-menu-vin.png) no-repeat left top

.view-menu-labo-culinaire
	width : 320px
	margin : 20px 15px 30px
	display : inline-block

	.fancybox-close
		top : 5px!important
		right : 15px!important


#header-bouffe, #header-vin
	background : url(../../images/laboculinaire-fourchette.png) no-repeat center center
	width : 100%
	height : 100px
	margin : 10px 0 18px 0
	display : block

#header-vin
	background : url(../../images/laboculinaire-vin.png) no-repeat center center
	margin : 0px 0 18px 0



#menu-labo-culinaire
	display : none
	width : 600px
	color : #5D504E
	height : 100%
	font-size : 1.3em

	.views-field-title
		+fontIrma
		font-size : 1.6em
		text-align: center

	#menu-title
		+fontIrmaB

	.views-field-body
		width : 60%
		text-align : center
		margin : 20px auto
		padding : 20px 0
		border-bottom : 1px dashed #ccc
		border-top : 1px dashed #ccc
		.field-name-field-nom-prix
			+fontIrmaB
			font-size : 1em
			margin : 0 0 5px 0

	.views-field-field-bouffe
		width: 60%
		margin : 10px auto 30px
		text-align : center
		li
			margin : 0px 0 20px 0
			list-style: none

			.field-name-field-bo-nom
				+fontIrmaB
				margin : 0 0 5px 0
				font-size : 1.2em

			.field-name-field-bou-description
				font-size : 1.2em
				margin : 0 0 10px 0


.view-display-id-vins
	width : 320px
	margin : 0 0 30px 0
	display : inline-block
	.view-header
		display : inline-block

#vin-labo-culinaire
	border : 1px #333 solid
	padding : 0 10px
	width : 810px
	background : white
	color : #5D504E
	float : left
	display : none
	font-size : 1.2em

	h3
		+fontIrmaL
		margin : 0px 0 20px 10px
		background : none
		padding : 0
		background : url(../../images/bg-vinMenu.png) 70px center no-repeat

	table
		width : 810px
		margin : 0 0 20px 0

		tr
			border : none
			margin : 0
			display : block

			td
				width : 380px
				height : 35px
				margin : 4px 10px
				display : inline-block
				//background : #eee

		.views-field-title
			width : 300px


	.views-row
		background : blue
		width : 300px

	.views-field-field-prix-verre, .views-field-field-prix-bouteille
		float : right
		width : 50px
		margin : 0 0 0 10px
		vertical-align: top
		text-align: center
		+fontIrma
		font-size : 0.9em

	.vin-title
		+fontIrmaB
	.vin-description
		width : 260px



//------------------------- @PAGE SEARCH -------------------------------//

//drupal search default (n'est plus utilisé : voir .page-search
.page-search

	h3
		font-size : 0.9em!important
		background : none
		padding : 0

	.search-results
		margin : 30px 0 0 0
		.search-snippet-info
			padding : 0 0 0 5px


	.search-form
		margin : 0 0 0 90px
		position : relative

		.form-item-keys label
			display : none

		input[type=text]
			+border-radius(2px)
			border : 1px #ccc solid
			padding : 4px
			margin : -1px 0px 0 0
			width : 420px
			color : $greySat

		input[type=submit]
			background : $greySat
			color : white
			border : none
			+border-radius(2px)

			padding : 3px
			&:hover
				background : $redSat
				cursor : pointer

		.search-advanced
			margin : 15px 0 0px 0


			label
				margin : 0 0 5px 0

			input
				font-size : 1em

	#search-form.search-form
		margin : 20px 0 20px 90px






//------------------------- @PAGINATION -------------------------------//

.item-list
	padding-top : 1px
.pager, .item-list ul.pager
	font-size : 0.9em
	font-weight : bold
	margin : 5px 0!important
	padding : 6px 0 0 0!important
	background : url('../../images/bg_pagination.png') repeat-x 0 0
	+clearfix

	li
		margin : 0
		padding : 0

	li a, .pager-current, .pager-ellipsis
		//padding : 2px 5px!important
		width : 22px
		height : 22px
		line-height : 22px
		display : inline-block
		margin : 0!important
		background : $greySat
		color : white !important
		+border-radius(2px)		
		color : white
		background-color : $greySat
		+transition(.2s linear background-color)
		&:hover
			background-color : $redSat
			border : none

	.pager-current
		background-color : darken($lineColor, 20) !important
	.pager-next a, .pager-last a, .pager-previous a, .pager-first a
		text-indent : -10000px
		background-image : url('../../images/sprite_pagination.png')
		background-repeat : no-repeat
	.pager-first a
		background-position : 0 0
	.pager-previous a
		background-position : -22px 0
	.pager-next a
		background-position : -44px 0
	.pager-last a
		background-position : -66px 0



.nb_items_by_page
	display : none
.nb_items_by_page
	position : relative
	p
		position : absolute
		top : 4px
		right : 0
		font-size : 0.7em
		text-transform : uppercase
		margin : 0
		text-align : right 

	a.active
		font-weight : bold


#content .pager a:hover 
	border : none


//----------------------- @NEXT / @PREV BUTTONS ----------------------------//
#content a.next-button,
#content a.prev-button
	width : 22px
	height : 22px
	line-height : 22px
	display : inline-block
	color : white
	+border-radius(2px)		
	background-color : $greySat
	+transition(.2s linear background-color)
	text-indent : -10000px
	background-image : url('../../images/sprite_pagination.png')
	background-repeat : no-repeat

	&:hover
		background-color : $redSat
		border : none

#content a.next-button
	background-position : -44px 0
	float : right
#content a.prev-button
	background-position : -22px 0


//------------------------- @TAGS ------------------------------------------//
.cats_and_tags
	+clearfix
	margin : 70px 0 0 0

#content .field-name-field-lien-connexes
	margin-top : 50px

#content .field-name-field-categorie-primaire,
#content .field-name-field-categories,
#content .field-name-field-categorie
	margin : 0
	width : auto
	float : left
	padding : 0

	

	.field-item
		display : inline-block
		float : left
		margin-right : 10px
		border-top : 1px solid $lineColor

		a
			font-size : 0.85em
			color : #868686
			font-weight : bold
			text-transform : uppercase
			line-height : 2.7em
			height : 2.5em
			display : block
			padding : 0 7px 0 34px
			margin : 0
			background : url("../../images/iconDepartements.png") no-repeat scroll 100px 100px transparent
			background-position:  1px -107px
			+border-radius(3px)
			+transition(.2s linear background-color)

			&:hover
				border-bottom : none
				background-color : #333
				color : white

		&:hover
			border-color : #FCFCFC


		&.taxonomy-0 a
			background : none
		&.taxonomy-72 a //art visuel & design
			background-position : left -33px
		&.taxonomy-73 a // culture numerique
			background-position : left -166px
		&.taxonomy-76 a // musique
			background-position : left 0px
		&.taxonomy-71 a // culinaire
			background-position : left -69px
		&.taxonomy-75 a //immersion
			background-position : left -107px
		&.taxonomy-239 a //formations
			background-position: left -137px 


#content .field-name-field-etiquettes,
#content .field-name-field-etiquettes--video,
#content .field-name-field-ev-tags
	margin : 0
	text-align : left
	background : url("../../images/ico_tags.png") no-repeat 8px 9px
	padding : 0px 0 0px 30px
	float : left
	border-top : 1px solid $lineColor


	.field-items
		padding : 6px 0
		line-height : 19px
	

	.field-item
		font-size : 0.9em
		color : #787878
		display : inline
		padding-right : 0.5em

		a
			color : #787878
			
			&:after 
				content : ','

			&:hover
				border : none
				color : $redSat

		&:last-child 
			a:after
				content : ''



//------------------------- @WEBFORM --------------------------------------//

#content #webform-client-form-4876

	>div
		position : relative
	
	.webform-container-inline label
		width : 100px
		display : inline-block
	.form-text
		padding : 5px
		border : 1px solid #ddd
		+border-radius(3px)

	.fieldset-legend
		margin : 20px 5px
		display : inline-block

	.form-checkboxes
		.form-type-checkbox
			display : block
			padding : 10px 5px
			background : #eee
			font-size : 1.2em

	#edit-submitted-ton-courriel
		font-family : $font2
		font-size : 1em
		letter-spacing : normal
		margin : 45px 0 0 0
		border : 1px solid #ccc
		display : block
		padding : 2px 10px 2px 6px
		cursor: pointer
		color : #666
		+border-radius(3px)
		height : 26px
		width : 264px

	.form-submit
		float : right
		padding : 5px 10px
		background : #333
		font-size : 1.2em
		color : white
		border : none
		&:hover
			background : $redSat
			cursor : pointer

.region-content #webform-client-form-4958

	#edit-submitted-ton-courriel
		font-family : $font2
		font-size : 1em
		letter-spacing : normal
		margin :  0
		border : 1px solid #ccc
		display : block
		padding : 2px 10px 2px 6px
		cursor: pointer
		color : #666
		+border-radius(3px)
		height : 26px
		width : 264px

	.form-submit
		float : left
		padding : 5px 10px
		background : #333
		font-size : 1.2em
		color : white
		border : none
		&:hover
			background : $redSat
			cursor : pointer









//------------------------------------------------------------------------------//
//------							@FOOTER								-------//
//----------------------------------------------------------------------------//



#footer
	height : 150px
	margin : 32px auto 0
	padding : 0 0 0 20px
	position : relative
	width : 1040px
	color : white
	a
		color : white

	li.expanded
		display : inline-block
		float : left
		height : 150px
		margin : 0 30px 0 0
		position : relative
		width : 170px

		span
			font-size : 1.4em
			+fontIrma
			margin :  0 0 10px 0

		ul 
			margin : 13px 0 0 0
			li
				font-size : 1.4em
				margin : 0 0 8px 0
				list-style : none
				a:hover
					border-bottom : 1px dashed white

	.contact
		margin : 0 0 0 120px
		position : relative
		width : 288px
		display : inline-block

		.title
			+fontIrma
			font-size : 1.4em

		.link-contact
			background : $greySat
			+border-radius(3px)
			color : white
			display : inline-block
			font-size : 1em
			left : 74px
			margin : 0
			padding : 2px 6px
			position : absolute
			top : 0
		address
			margin : 10px 0 20px 0
			font-size : 1.3em
			line-height : 1.6em

		a:hover
			border-bottom : 1px dashed white

#bgBottomRed
	background : url("../../images/bgColorBottom.png") no-repeat scroll center bottom transparent 
	position : absolute
	width : 100%
	min-width : 1080px
	height : 1800px
	overflow : hidden
	position : absolute
	bottom : -20px
	z-index : -1


div.messages
	
	margin : 40px auto 2px auto !important
	font-size : 1.2em

//-------------------------------------------------------------------------------//
//------							@PROFIL                              -------//
//-----------------------------------------------------------------------------//

.node-type-profil
	#page-title
		width : 545px
		float : right
		background : none
		padding-left : 0
		+fontIrmaL
		font-size : 1.8em
	.h1-hr
		display : none

	#header-profil
		margin-bottom : 20px
		.field-type-image
			float : left
			img
				width : 120px
				height : 120px
				+border-radius(3px)
		.field-name-field-profil-role, .field-name-field-start-date
			padding : 5px 0 0px 15px
			float : left
			font-size : 1.3em
			line-height: 1.2em
			width : 540px
			+fontIrmaL
		.field-name-field-profil-role
			color : $redSat
		.field-name-field-start-date
			color : #666
			font-size : 1em
			margin : 5px 0 60px 0
			.field-label
				font-weight: normal


	.entity-field-collection-item
		float: left
		margin: 10px 0 0
		padding: 16px 0
		position : relative

	h3, .projet-title
		+fontIrmaB
		background : none
		padding-left : 0
		margin : 20px 0 5px 0

	.field-name-field-titre, .view-header, #profil-role h3
		+fontIrmaL
		color : white
		background: #333
		float: left
		padding: 0 5px
		letter-spacing: 0.08em
		position : relative
		top : 0
		height : 25px
		line-height : 29px


	.field-name-field-description, .view-projets .view-content, .field-name-field-description-role
		padding: 30px 20px 10px
		border: 1px solid #ddd
		font-size: 1.1em
		line-height : 1.1em
		position : relative

	.field-name-field-description-role
		margin : 20px 0 40px 0

	.view-projets, #profil-role
		float : left
		.view-content
			width : 638px

		.views-row
			display : block
			min-height : 75px
			&:last-child
				padding-bottom : 15px

		.views-field-field-image
			float : left
			margin : 0px 10px 10px 0
			img
				width : 65px
				height : 65px
				+border-radius(3px)



	

//-------------------------------------------------------------------------------//
//------							@BORNE ENTRÉE                        -------//
//-----------------------------------------------------------------------------//

.page-borne-1 
	background : url(../../images/bgBorne.png) repeat
	padding-top : 0!important
	overflow : hidden

	#headerBorne
		background :  url(../../images/bgHeaderBorne.png) no-repeat
		width : 1050px
		height : 65px
		padding : 49px 30px 0 0
		margin : 0 auto
		color : white
		text-align : right
		font-size : 3em
		letter-spacing : 0.05em
		font-family: 'Irma Light'
		letter-spacing: 0.05em

	#footerBorne
		background :  url(../../images/bgFooterBorne.png) no-repeat
		width : 1080px
		height : 100px
		margin : 0 auto
		display : inline-block
		color : white
		font-family: 'Irma Light'
		font-size : 2em
		letter-spacing: 0.05em
		line-height: 1.3em
		#leftFooter
			float : left
			margin : 35px 0 0 20px
		#rightFooter
			float : right
			margin : 33px 20px 0 0
			a
				color : white
				border-bottom : 1px white dashed


	.region-page-top
		display : none

#global
	width : 1080px
	margin : 0 auto
	position : relative
	overflow : hidden

#screen
	height : 1712px
	width : 1080px

	#eventScreen
		height : 1712px
		width : 1080px
		float : left

		#highlight
			width : 1080px
			height : 455px
			float : left
			overflow : hidden
			position : relative
			.views-field-nothing
				display : none

			#title-banner
				background-color : #333
				background : none repeat scroll 0 0 rgba(35, 35, 35, 0.8)
				width : 1020px
				min-height : 100px
				position : absolute
				bottom : 0
				line-height: 1em
				padding : 10px 30px 30px
				color : white
				z-index : 10



				#highlight-title
					display : block
					margin : 20px 0 20px 0
					+fontIrma
					font-size : 3em

				#highlight-description
					font-family : Optima!important
					font-weight : normal
					font-size : 2em
					line-height: 1.2em



		#block-system-main
			float : left
			height : 1256px
			width : 100%
			overflow: hidden
			position : relative

			.view-content
				float : left
				position : absolute
				width : 1080px


			.views-row-odd
				background-color : #000
				background-color : rgba(black, .05)
			.views-row 
				width : 1080px
				height : 314px
				display : inline-block
				float : left
				border-bottom : 1px dashed rgba(white, 0.3 )
				&:last-child
					border-bottom : none

				.views-field-image
					float : left
					margin : 0 40px 0 0

				.views-field-date
					margin : 40px 0 10px 0
					width : 555px
					float : left
					color : white
					font-family: 'Irma Light'
					font-size : 2em
					.date-display-start, .date-display-end, .date-display-single
						display : inline-block
						word-spacing: 0.1em

				.views-field-title
					color : white
					text-transform : uppercase
					font-size : 3em
					margin : 0 0 20px 0
					max-width : 470px
					float : left
					+fontIrma
					letter-spacing: 0.05em

				.views-field-heure
					color : #BE2620
					display : inline-block
					font-size : 0.7em
					margin : -3px 0 0 0
					

				.views-field-body
					float : left
					width : 500px
					color : white
					font-size : 2em
					line-height: 1.6em

				.views-field-field-prix-regulier, .views-field-field-prix-prevente
					color : white
					float : right
					width : 200px
					margin : 20px 20px 0 0
					font-size : 1.5em
					text-align: right
					.views-label
						float : left
					.field-content
						color : #be2620
						float : left
						margin-left : 10px



	#fullScreen
		width : 1080px
		height : 1712px
		float : left

		.views-row
			float : left
			.views-field-title
				display : none

.node-type-page-sans-sidebar #main-wrapper #main
	padding : 20px

	#content
		margin : 0
		width : 100%

//------------------------------------------------------------------------------//
//------							@ADMIN 								-------//
//----------------------------------------------------------------------------//

.tabs 

	ul.primary
		border-top : 1px #eee solid
		border-bottom : none
		padding : 0
		margin : 0
		+border-radius(3px)
		font-size : 1.4em

	li
		margin : 0

		a
			border : none!important
			border-bottom : 1px #eee solid!important
			padding : 3px 10px!important
			display : block
			background-color : transparent !important
			margin : 0!important
			&:hover
				background-color : $greySat!important
				color : white


#content .tabs ul.primary
	font-size : 1em
	width : 205px
	margin-top : 30px
	float : right

.node-unpublished
	background-color : #ffddbb


//ckeditor
body.cke_show_borders
	font-size : 80%

h1.cke_panel_grouptitle
	background-image : none
	margin : 0
	padding : 0
	font-size : 1em
	display : block
	text-transform: none

.cke_panel_list
	h3.irma, h2
		background : url("../../images/puceH3.png") no-repeat scroll left 5px transparent
		margin : 0
		padding : 0 0 0 20px


/*.field-name-field-media-url 
	position : relative

	.field-item
		position : absolute
		top : 0
		left : 0
		width : 1200px
		height : 700px
		background : red
		z-index : 1000
		*/
