#annonce_ix{
  width: 1024px;
  height: 555px;
  position: fixed;
  z-index: 2000;
  padding: 0;
  top: 50%;
  left: 50%;
  margin-top: -277px;
  margin-left: -512px;
  display: block;
  display: none;
}

#annonce_ix.load a.poplink,
#annonce_ix.load .close{
  background-image: url(../../images/ix_2017/spritesheet_v1.png);
}

#annonce_ix a.poplink{
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2100;
  width: 1024px;
  height: 555px;
  background-position: -5px -5px;
  cursor: pointer;
}

#annonce_ix:hover a.poplink{
  background-position: -1039px -5px;
}

#annonce_ix .close{
  background-repeat: no-repeat;
  position: absolute;
  right: 73px;
  top: 60px;
  z-index: 2101;
  width: 26px;
  height: 26px;
  background-position: -2073px -5px;
  cursor: pointer;
}

#annonce_ix .close:hover{
  background-position: -2073px -41px;
}

.annonce_overlay.load{
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0,0,0,0.85);
  z-index: 1900;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

/*

#annonce_domesicle{
  width: 860px;
  height: 548px;
  position: fixed;
  z-index: 2000;
  padding: 0;
  top: 0;
  left: 50%;
  margin-left: -430px;
  display: block;
  display: none;
}


#annonce_domesicle.load{
  background: url("../../images/domesicle_2016/bg.png") no-repeat 0 0;
}

#annonce_domesicle:hover{
  background-position: 0 -548px;
}


#annonce_domesicle  a.poplink{
  width: 712px;
  height: 410px;
  z-index: 2001;
  top: 78px;
  left: 50%;
  margin-left: -356px;
  display: block;
  position: absolute;
}

#annonce_domesicle .close{
  height: 35px;
  width: 35px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  background: url("../../images/domesicle_2016/close_x.png") no-repeat 0 0 #13c3f3;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  z-index:2100;
}
#annonce_domesicle .close:hover{
  background-color: white;
  cursor: pointer;
}
#annonce_domesicle .close span{
  display: none;
}*/