h3{background:url("../../images/puceH3.png") no-repeat scroll left 5px transparent;margin:0 0 10px;padding:0 0 0 25px;font-size:1.2em;display:inline-block;text-transform:uppercase;font-weight:normal;font-family:Irma Regular,Helvetica;letter-spacing:0.05em;text-transform:uppercase}.section-article{display:table;padding:10px 0;width:100%}.subSection-article{display:auto-cell;vertical-align:top;padding:0 0 0 20px}.section-article .subSection-article:first-child{padding-left:0}.subSection-2{float:left;width:330px}
